@charset 'UTF-8';

// Mixins
// @import 'ux-ui/prefixer';
@import 'ux-ui/mixins';
@import 'ux-ui/color';

// Variables;
@import 'ux-ui/variables';

// Reset
// @import 'ux-ui/normalize';


// No Text Select
.no-select {
  user-select: none;
}

// Z-levels
%z-depth-0 {
  box-shadow: none !important;
}

%z-depth-1 {
  box-shadow: 0 2px 2px 0 $black-opacity-14, 0 1px 5px 0 $black-opacity-12, 0 3px 1px -2px $black-opacity-2;
}

%z-depth-1-half {
  box-shadow: 0 3px 3px 0 $black-opacity-14, 0 1px 7px 0 $black-opacity-12, 0 3px 1px -1px $black-opacity-2;
}

%z-depth-2 {
  box-shadow: 0 4px 5px 0 $black-opacity-14, 0 1px 10px 0 $black-opacity-12, 0 2px 4px -1px $black-opacity-3;
}

%z-depth-3 {
  box-shadow: 0 6px 10px 0 $black-opacity-14, 0 1px 18px 0 $black-opacity-12, 0 3px 5px -1px $black-opacity-3;
}

%z-depth-4 {
  box-shadow: 0 8px 10px 1px $black-opacity-14, 0 3px 14px 2px $black-opacity-12, 0 5px 5px -3px $black-opacity-3;
}

%z-depth-5 {
  box-shadow: 0 16px 24px 2px $black-opacity-14, 0 6px 30px 5px $black-opacity-12, 0 8px 10px -5px $black-opacity-3;
}

// ux-ui
// @import 'ux-ui/global';
// @import 'ux-ui/icons-material-design';
// @import 'ux-ui/grid';
// @import 'ux-ui/navbar';
// @import 'ux-ui/roboto';
// @import 'ux-ui/typography';
// @import 'ux-ui/cards';
// @import 'ux-ui/toast';
// @import 'ux-ui/tabs';
// @import 'ux-ui/tooltip';
// @import 'ux-ui/buttons';
@import 'ux-ui/dropdown';
// @import 'ux-ui/waves';
// @import 'ux-ui/modal';
// @import 'ux-ui/collapsible';
// @import 'ux-ui/chips';
// @import 'ux-ui/materialbox';
@import 'ux-ui/forms/forms';
// @import 'ux-ui/table_of_contents';
// @import 'ux-ui/sideNav';
// @import 'ux-ui/preloader';
// @import 'ux-ui/slider';
// @import 'ux-ui/carousel';
// @import 'ux-ui/date_picker/default';
// @import 'ux-ui/date_picker/default.date';
// @import 'ux-ui/date_picker/default.time';
