.ux-form {
  font-size: $global-font-size;

  // Many themes put margin and padding here. We don't want that.
  .form-item {
    padding: 0;
    margin: 0;
  }

  .ux-form-element {
    margin-top: $global-margin;
    margin-bottom: $global-margin;

    label,
    .fieldgroup .fieldset-legend {
      @include label;
    }

    .description {
      @include description;
    }
  }

  // Widgets are ux-form-elements that wrap a FAPI field.
  .ux-form-widget {

    .ux-form-element {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .ux-form-element-float {
    margin-top: $global-margin + $label-height;
    margin-bottom: $global-margin;
  }

  .ux-form-element-inner {
    position: relative;
  }

  .required label,
  .required .fieldset-legend {

    &:after {
      content: '*';
      display: inline-block;
      padding-left: rem-calc(3);
      font-size: 13px;
    }
  }

  .field-error {
    @include error;
  }

  .ux-ripple {
    @include ux-ripple;
  }

  ::-webkit-input-placeholder {
    @include placeholder;
  }

  :-moz-placeholder {
    @include placeholder;
  }

  ::-moz-placeholder {
    @include placeholder;
  }

  :-ms-input-placeholder {
    @include placeholder;
  }

  ::placeholder {
    @include placeholder;
  }
}

.ux-form-inline {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  > .ux-form-element {
    flex: auto;
    width: 100%;
  }

  .fieldset-wrapper {
    display: flex !important;
    flex-flow: row nowrap;

    .ux-form-container {
      flex: auto !important;
      width: 100%;
    }
  }

  // div {
  //   display: block;
  // }

  // input {
  //   width: 100%;
  // }

  // > div {
  //   flex: auto !important;
  //   width: 100%;

  //   .ux-form-input-item {
  //     width: 100%;
  //   }
  // }
}

// .ux-form-element-inner {
//   background: transparent !important;
// }

// .ux-form-widget {
//   background: pink !important;
// }

// .ux-form-element {
//   background: pink !important;
//   padding: 20px !important;

//   .ux-form-element {
//     background: red !important;

//     .ux-form-element {
//       background: blue !important;

//       .ux-form-element {
//         background: green !important;
//       }
//     }
//   }
// }
