
.ux-form {

  label,
  .fieldgroup > legend .fieldset-legend {
    font-size: $label-font-size;
    color: $label-color;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }

  .form-item {
    margin: $form-item-margin;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    .description {
      font-size: $form-item-description-size;
      color: $form-item-description-color;
    }
  }
}

.ux-form-inline {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  > div {
    display: block;
    flex: auto !important;
    width: 50%;

    .ux-form-input-item {
      width: 100%;
    }
  }
}

.ux-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  background-image: radial-gradient(circle, $black 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

@mixin ux-ripple-active() {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
