
.ux-form {
  font-size: $global-font-size;

  // Many themes put margin and padding here. We don't want that.
  .form-item {
    padding: 0;
    margin: 0;

    input {

      &:focus {
        border: 0;
        outline: none;
      }
    }
  }

  .ux-form-element {
    margin: $global-margin 0;

    &.ux-form-element-last {
      margin-bottom: 0;
    }

    label,
    .fieldgroup .fieldset-legend {
      @include label;
    }

    .description {
      @include description;
    }
  }

  .ux-form-element-inner {
    position: relative;
  }

  .ux-ripple {
    @include ux-ripple;
  }
}

.ux-form-inline {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  div {
    display: block;
  }

  input {
    width: 100%;
  }

  > div {
    flex: auto !important;
    width: 50%;

    .ux-form-input-item {
      width: 100%;
    }
  }
}
