@mixin label() {
  display: block;
  font-size: $label-font-size;
  line-height: $label-height;
  // height: $label-height;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  margin: 0;
}

@mixin label-float() {
  @include label;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY($label-height * -1);
}

@mixin label-overlay() {
  @include label-float;
  line-height: $input-height;
  font-size: $input-font-size;
  height: $input-height;
  padding: $input-padding;
  pointer-events: none;
  transform: translateY(0);
}

@mixin error() {
  display: block;
  position: absolute;
  top: $label-height + $input-height + rem-calc(1);
  left: 0;
  padding: rem-calc(2 10);
  font-size: $message-font-size;
  line-height: $label-font-size;
  text-transform: uppercase;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  z-index: 10;
}

@mixin description() {
  font-size: $description-font-size;
  margin: 0;
  padding: 0;
}

@mixin placeholder() {
  font-style: italic;
  font-weight: 500;
  opacity: 1 !important;
}

@mixin wrapper-label() {
  display: block;
  font-size: $wrapper-font-size;
  line-height: $wrapper-height;
  // height: $wrapper-height;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@mixin wrapper-description() {
  font-size: $wrapper-description-font-size;
  font-weight: 300;
  margin: 0;
  padding: rem-calc(5 0 0);
}

@mixin ux-ripple() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.5, 1.5);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0, 0);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
  }
}

@mixin ux-ripple-active() {

  &:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

@mixin ux-ripple-focus() {

  &:after {
    opacity: 0.15;
    transform: scale(0.75, 0.75);
    transition: 0s;
  }
}
