////////////////////////////////////////////////////////////////////////////////
/// Colors
////////////////////////////////////////////////////////////////////////////////

@function gray($num) {
  @return lighten(#000, percentage((100 - $num) / 100));
}

@function shadow($num) {
  @return rgba(0, 0, 0, $num / 100);
}

$white: #fff;
$black: gray(90);
$disabled-color: gray(35);
$success-color: #86c13d;
$error-color: #e54040;

////////////////////////////////////////////////////////////////////////////////
/// Globals
////////////////////////////////////////////////////////////////////////////////

$global-margin: rem-calc(30);
$global-padding: rem-calc(30);
$global-font-size: rem-calc(16);
$global-speed: 350ms;

////////////////////////////////////////////////////////////////////////////////
/// Container
////////////////////////////////////////////////////////////////////////////////
$container-description-color: gray(90);

////////////////////////////////////////////////////////////////////////////////
/// Labels
////////////////////////////////////////////////////////////////////////////////

$label-height: rem-calc(26);
$label-font-size: rem-calc(14);
$label-color: gray(75);
$label-focus-color: gray(90);
$label-transform: translateY($label-height * -1);

////////////////////////////////////////////////////////////////////////////////
/// Description
////////////////////////////////////////////////////////////////////////////////

$description-font-size: rem-calc(14);
$description-color: gray(65);

////////////////////////////////////////////////////////////////////////////////
/// Inputs
////////////////////////////////////////////////////////////////////////////////

$input-height: rem-calc(40);
$input-font-size: $global-font-size;
$input-padding-size: 0;
$input-padding: 0 $input-padding-size;
$input-color: gray(90);
$input-prefix-suffix-color: gray(50);
$input-border-color: gray(40);
$input-border-focus-color: gray(90);
$input-border-error-color: $error-color;
$input-border-success-color: $success-color;
$input-bg-color: inherit;
$input-placeholder-color: gray(60);

////////////////////////////////////////////////////////////////////////////////
/// Message
////////////////////////////////////////////////////////////////////////////////

$message-font-size: rem-calc(12);
$message-bg-color: gray(70);

////////////////////////////////////////////////////////////////////////////////
/// Checkbox
////////////////////////////////////////////////////////////////////////////////
$checkbox-size: rem-calc(26);
$checkbox-element-size: $checkbox-size * 0.8;
$checkbox-font-size: $global-font-size * 0.9;
$checkbox-border-color: gray(40);
$checkbox-active-color: gray(90);
$checkbox-check-color: gray(0);

////////////////////////////////////////////////////////////////////////////////
/// Radios
////////////////////////////////////////////////////////////////////////////////
$radio-size: rem-calc(26);
$radio-element-size: rem-calc(23);
$radio-font-size: $global-font-size * 0.9;
$radio-border-color: gray(25);
$radio-active-color: gray(90);

////////////////////////////////////////////////////////////////////////////////
/// Select
////////////////////////////////////////////////////////////////////////////////
$select-bg-color: gray(3);
$select-font-size: rem-calc(14);
$select-item-height: $input-height;
$select-item-color: gray(90);
$select-optgroup-color: gray(30);
$select-optgroup-font-size: rem-calc(12);
$select-optgroup-height: $input-height;
$select-selected-bg: gray(90);
$select-selected-color: $white;
$select-hover-color: shadow(5);
$select-close-color: gray(30);
$select-close-hover-color: gray(90);
$select-caret-color: gray(30);
$select-box-shadow: 0 1px 5px shadow(30);

////////////////////////////////////////////////////////////////////////////////
/// Containers
////////////////////////////////////////////////////////////////////////////////
$container-height: rem-calc(18);
$container-font-size: rem-calc(18);
$container-bg-color: gray(2);
$container-bg-level-2-color: gray(0);
$container-box-shadow: 0 1px 5px shadow(10);
$container-description-font-size: rem-calc(16);
