html {
  font-size: 92%;
}

////////////////////////////////////////////////////////////////////////////////
/// Form
////////////////////////////////////////////////////////////////////////////////
.ux-form {

  label,
  .fieldgroup .fieldset-legend {
    color: $label-color;
  }

  .description {
    color: $description-color;
  }

  .field-error {
    background: $error-color;
    color: gray(0);
  }

  label.form-required, // sass-lint:disable-line no-qualifying-elements
  .required label,
  .required .fieldset-legend {

    &:after {
      color: $error-color;
    }
  }

  .ux-ripple {

    &:before {
      background: $ux-ripple-active-bg-color;
    }

    &:after {
      background: $ux-ripple-focus-bg-color;
    }
  }

  ::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }

  :-moz-placeholder {
    color: $input-placeholder-color;
  }

  ::-moz-placeholder {
    color: $input-placeholder-color;
  }

  :-ms-input-placeholder {
    color: $input-placeholder-color;
  }

  ::placeholder {
    color: $input-placeholder-color;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Wrapper
////////////////////////////////////////////////////////////////////////////////
.ux-form-wrapper {

  > .ux-form-element-inner {
    background: $wrapper-bg-color;
    box-shadow: $wrapper-box-shadow;
  }

  // Nested 2 deep.
  .ux-form-wrapper {

    > .ux-form-element-inner {
      background: $wrapper-bg-2-color;
    }
  }

  summary,
  fieldset:not(.fieldgroup) .fieldset-legend {
    color: $wrapper-title-color;
  }

  .ux-form-element-wrapper-description {
    color: $wrapper-description-color;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Input
////////////////////////////////////////////////////////////////////////////////
.ux-form-input {

  .ux-form-input-line {
    background-image: linear-gradient($input-border-focus-color, $input-border-focus-color), linear-gradient($input-border-color, $input-border-color);
  }

  .ux-form-input-item,
  .field-prefix,
  .field-suffix {

    &,
    &:focus,
    &.picker__input {
      color: $input-color;
      background-color: $input-bg-color;
      padding: $input-padding;
      border-top: $input-border-top;
      border-right: $input-border-right;
      border-bottom: $input-border-bottom;
      border-left: $input-border-left;
    }
  }

  .field-prefix,
  .field-suffix {
    color: $input-prefix-suffix-color;
  }

  // Message area.
  &:after {
    background: $message-bg-color;
    color: $message-color;
  }

  // When focused.
  &.focus {

    > label {
      color: $label-focus-color;
    }

    .ux-form-input-line {
      background-image: linear-gradient($input-border-focus-color, $input-border-focus-color), linear-gradient($input-border-color, $input-border-color);
    }
  }

  // When valid.
  &.valid,
  &.valid.focus {

    .ux-form-input-line {
      background-image: linear-gradient($input-border-focus-color, $input-border-focus-color), linear-gradient($input-border-success-color, $input-border-success-color);
    }
  }

  // When invalid.
  &.invalid,
  &.invalid.focus {

    > label {
      color: $error-color;
    }

    .ux-form-input-line {
      background-image: linear-gradient($input-border-error-color, $input-border-error-color), linear-gradient($input-border-error-color, $input-border-error-color);
    }

    &:after {
      background-color: $error-color;
    }
  }
}

.ux-form-element-float {

  .ux-form-input {

    > label {
      padding: $input-padding;
    }

    > .field-prefix,
    > .field-suffix {
      color: transparent;
    }

    &.active,
    &.force-active {

      > label {
        padding: 0;
      }

      > .field-prefix,
      > .field-suffix {
        color: $input-prefix-suffix-color;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Checkbox
////////////////////////////////////////////////////////////////////////////////
.ux-form-checkbox {

  label {

    &.option {

      &:before {
        background: $checkbox-bg-color;
        border-color: $checkbox-border-color;

        .error & {
          border-color: $error-color;
        }
      }

      &:after {
        border-right-color: $checkbox-check-color;
        border-bottom-color: $checkbox-check-color;
      }
    }
  }

  // Message area.
  &:after {
    background: $message-bg-color;
    color: $message-color;
  }

  // When active.
  &.active {

    label {

      &.option {

        &:before {
          border-color: $checkbox-active-color;
          background: $checkbox-active-color;
        }
      }
    }
  }

  // When invalid.
  &.invalid,
  &.invalid.focus {

    &:after {
      background: $error-color;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Radio
////////////////////////////////////////////////////////////////////////////////
.ux-form-radio {

  label {

    &.option {

      &:before,
      &:after {
        border-color: $radio-border-color;
      }

      &:after {
        background-color: $radio-active-color;
      }

      &:before {
        background: $radio-bg-color;

        .error & {
          border-color: $error-color;
        }
      }
    }
  }

  // Message area.
  &:after {
    background: $message-bg-color;
    color: $message-color;
  }

  // When active.
  &.active {

    label {

      &.option {

        &:before {
          border-color: $radio-active-color;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Select
////////////////////////////////////////////////////////////////////////////////
.ux-form-select {

  select {
    background-color: transparent;
    border-bottom: 1px solid $input-border-color;

    &:focus {
      border-bottom-color: $input-border-focus-color;
    }
  }

  .ux-form-select-caret {
    color: $select-caret-color;
  }

  .ajax-progress {
    background: $select-ajax-progress-bg-color;
  }

  .ux-form-select-dropdown {
    background-color: $select-bg-color;

    .close {
      color: $select-close-color;
      background-color: $select-bg-color;
      box-shadow: $select-close-shadow;
      border-left: $input-border-right;

      &:hover {
        color: $select-close-hover-color;
      }
    }

    .optgroup {
      color: $select-optgroup-color;
    }

    .selector {
      color: $select-item-color;

      > span {

        > label {
          color: $select-item-color;
        }
      }

      &:hover {
        background: darken($select-hover-bg-color, 5%);
      }
    }

    &.is-single {

      .selected {
        color: $select-selected-color;
        background: $select-selected-bg-color;

        &:hover {
          background: darken($select-selected-bg-color, 5%);
        }
      }
    }
  }

  .ux-form-select-scroll {
    box-shadow: $select-box-shadow;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Password
////////////////////////////////////////////////////////////////////////////////
.password-strength {

  .is-weak {
    background-color: adjust-hue($success-color, -29deg);
  }

  .is-fair {
    background-color: adjust-hue($success-color, -21deg);
  }

  .is-good {
    background-color: adjust-hue($success-color, -11deg);
  }

  .is-strong {
    background-color: $success-color;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// Fieldception
////////////////////////////////////////////////////////////////////////////////
.ux-form-element .field--type-fieldception {

  .field-multiple-table {

    tbody {

      tr {

        td {
          border-top: $divider-style;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
/// noUi Slider
////////////////////////////////////////////////////////////////////////////////
.ux-form-element .noUi-connect {
  background: $primary-color;
}

////////////////////////////////////////////////////////////////////////////////
/// Date/time picker
////////////////////////////////////////////////////////////////////////////////
.picker {

  .picker__select--month,
  .picker__select--year {

    &:focus {
      border-color: $primary-color;
    }
  }

  .picker__nav--prev,
  .picker__nav--next {

    &:hover {
      background: lighten($primary-color, 35%);
    }
  }

  .picker__day--today {

    &:before {
      border-top-color: $primary-color;
    }
  }

  .picker__day--infocus,
  .picker__day--outfocus {

    &:hover {
      background: lighten($primary-color, 40%);
    }
  }

  .picker__day--highlighted {
    border-color: $primary-color;
  }

  .picker__day--selected,
  .picker__day--selected:hover,
  &.picker--focused .picker__day--selected {
    background: lighten($primary-color, 20%);
  }

  .picker__button--today,
  .picker__button--clear,
  .picker__button--close {

    &:hover {
      background: lighten($primary-color, 40%);
      border-bottom-color: lighten($primary-color, 40%);
    }

    &:focus {
      background: lighten($primary-color, 40%);
      border-color: $primary-color;
    }
  }

  .picker__button--today:before {

    &:before {
      border-top-color: $primary-color;
    }
  }
}
