/* stylelint-disable color-no-hex */
@import '../../../../dev/scss/util/util';

$white: #fff !default;
$black: gray(90) !default;
$primary-color: gray(0) !default;
$disabled-color: gray(70) !default;
$success-color: #86c13d !default;
$error-color: #e54040 !default;

////////////////////////////////////////////////////////////////////////////////
/// Wrapper
////////////////////////////////////////////////////////////////////////////////
$wrapper-bg-color: gray(90) !default;
$wrapper-bg-2-color: gray(86) !default; /* stylelint-disable-line scss/dollar-variable-pattern */
$wrapper-box-shadow: 0 1px 5px shadow(10) !default;
$wrapper-title-color: gray(10) !default;
$wrapper-description-color: gray(10) !default;

////////////////////////////////////////////////////////////////////////////////
/// Label & Description & Other
////////////////////////////////////////////////////////////////////////////////
$label-color: gray(10) !default;
$label-focus-color: $primary-color !default;
$description-color: gray(20) !default;
$divider-style: 1px dotted gray(20) !default;
$ux-ripple-active-bg-color: gray(0) !default;
$ux-ripple-focus-bg-color: $primary-color !default;

////////////////////////////////////////////////////////////////////////////////
/// Message
////////////////////////////////////////////////////////////////////////////////
$message-bg-color: gray(70) !default;
$message-color: gray(0) !default;

////////////////////////////////////////////////////////////////////////////////
/// Input
////////////////////////////////////////////////////////////////////////////////
$input-padding: 0 !default;
$input-border: 0 !default;
$input-border-top: $input-border !default;
$input-border-right: $input-border !default;
$input-border-bottom: $input-border !default;
$input-border-left: $input-border !default;
$input-color: gray(0) !default;
$input-prefix-suffix-color: gray(50) !default;
$input-bg-color: inherit !default;
$input-border-color: gray(80) !default;
$input-border-focus-color: $primary-color !default;
$input-border-success-color: $success-color !default;
$input-border-error-color: $error-color !default;
$input-placeholder-color: gray(30) !default;

////////////////////////////////////////////////////////////////////////////////
/// Checkbox
////////////////////////////////////////////////////////////////////////////////
$checkbox-bg-color: $input-bg-color;
$checkbox-border-color: gray(20) !default;
$checkbox-active-color: $primary-color !default;
$checkbox-check-color: gray(0) !default;

////////////////////////////////////////////////////////////////////////////////
/// Radio
////////////////////////////////////////////////////////////////////////////////
$radio-bg-color: $input-bg-color !default;
$radio-border-color: gray(20) !default;
$radio-active-color: $primary-color !default;

////////////////////////////////////////////////////////////////////////////////
/// Select
////////////////////////////////////////////////////////////////////////////////
$select-bg-color: gray(80) !default;
$select-item-color: gray(10) !default;
$select-optgroup-color: gray(70) !default;
$select-selected-bg-color: $primary-color !default;
$select-selected-color: gray(100) !default;
$select-hover-bg-color: shadow(8) !default;
$select-close-color: gray(70) !default;
$select-close-shadow: 0 -2px 6px -3px shadow(80) !default;
$select-close-hover-color: gray(10) !default;
$select-caret-color: gray(70) !default;
$select-box-shadow: 0 1px 5px shadow(70) !default;
$select-ajax-progress-bg-color: gray(90) !default;

@import 'base';
