/* stylelint-disable color-no-hex */
@import '../../../../dev/scss/util/util';

$global-padding: rem-calc(30);
$input-padding: 0 $global-padding * 0.5;
$input-border: 1px solid gray(88);
$input-border-bottom: none;
$input-bg-color: gray(95);

$primary-color: #1c98c1;

@import 'dark';
