@import '../../../../dev/scss/util/util';

$global-padding: rem-calc(30);
$input-padding: 0 $global-padding / 2;
$input-border: 1px solid gray(12);
$input-border-bottom: none;
$input-bg-color: gray(5);

$primary-color: #98a526;

@import 'light';
