.uxMenu-menu {
  position: relative;

  [class^='animate-'], [class*=' animate-'] {
    visibility: visible;
  }
}

.uxMenu-in-uxAside {

  &.isTall {

    &.hasScroll {

      .uxAside-wrap {
        overflow: hidden !important;
        // position: static !important;
      }
    }

    .uxMenu {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
    }

    .uxMenu-menu {
      flex: 1 1;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;  // sass-lint:disable-line no-misspelled-properties
      overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
    }
  }

  // &.hasScroll {

  //   .uxMenu {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     bottom: 0;
  //     left: 0;
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }
}

.uxMenu-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: height 300ms;
}

.uxMenu-level {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  // overflow: hidden;
  // overflow-y: scroll;
  // width: calc(100% + 50px);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:focus {
    outline: none;
  }

  &.uxMenu-level--current {
    visibility: visible;
  }
}

.uxMenu-item {
  display: block;
  // width: calc(100% - 50px);
  width: 100%;
}

.uxMenu-link {
  position: relative;
  display: block;
  transition: color 100ms;
  font-size: 16px;
  line-height: 16px;

  .micon {
    line-height: 16px;
  }

  &.uxMenu-link--has-submenu {
    // Submenu styling can go here.
  }
}

.uxMenu-top {
  // position: absolute;
  display: flex;
  // top: 0;
  // right: 0;
  // left: 0;
}

.uxMenu-breadcrumbs {
  flex: auto;

  .uxMenu-breadcrumb {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 6px 0 0;

    .micon {
      padding: 0 2px 0 0;
    }

    &.animate-fadeIn {
      animation: fadeIn 0.6s;
    }

    &.animate-fadeOut {
      animation: fadeOut 0.6s;
    }

    &:last-child {
      pointer-events: none;
    }
  }
}

.uxMenu-back {
  z-index: 100;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0;

  &.animate-fadeIn {
    animation: fadeIn 0.6s;
    opacity: 1;
  }

  &.animate-fadeOut {
    pointer-events: none;
    animation: fadeOut 0.6s;
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.uxMenu-back--hidden {
  pointer-events: none;
  animation: fadeOut 0.6s;
  // opacity: 0;
}

.animate-outToRight .uxMenu-item {
  animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-outToLeft .uxMenu-item {
  animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-inFromLeft .uxMenu-item {
  animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-inFromRight .uxMenu-item {
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes outToRight {
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes outToLeft {
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes inFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
