.ux-form label,
.ux-form .fieldgroup > legend .fieldset-legend {
  font-size: 0.75rem;
  color: #9e9e9e;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.ux-form .form-item {
  margin: 1.875rem 0;
  padding: 0;
}

.ux-form .form-item:last-child {
  margin-bottom: 0;
}

.ux-form .form-item .description {
  font-size: 0.6875rem;
  color: #b3b3b3;
}

.ux-form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  width: 100%;
}

.ux-form-inline > div {
  display: block;
  -ms-flex: auto !important;
      flex: auto !important;
  width: 50%;
}

.ux-form-inline > div .ux-form-input-item {
  width: 100%;
}

.ux-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  background-image: radial-gradient(circle, #1a1a1a 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ux-form-checkboxes.fieldgroup {
  display: block;
}

.ux-form-checkboxes .ux-form-checkbox {
  margin: 0;
}

.ux-form-checkbox .form-checkbox,
.ux-select-checkbox .form-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-checkbox .ux-ripple,
.ux-select-checkbox .ux-ripple {
  position: absolute;
  top: -0.46875rem;
  left: -0.625rem;
  width: 2.5rem;
  height: 2.5rem;
}

.ux-form-checkbox label.option,
.ux-select-checkbox label.option {
  display: inline-block;
  position: relative;
  height: 1.5625rem;
  line-height: 1.5625rem;
  padding: 0 0 0 1.5625rem;
  margin: 0;
  cursor: pointer;
  font-size: 0.8125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333333;
}

.ux-form-checkbox label.option:before, .ux-form-checkbox label.option:after,
.ux-select-checkbox label.option:before,
.ux-select-checkbox label.option:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15625rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 0;
  border: 2px solid #bfbfbf;
  box-sizing: border-box;
  background-color: transparent;
}

.ux-form-checkbox label.option:before,
.ux-select-checkbox label.option:before {
  border-radius: 2px;
}

.ux-form-checkbox label.option:after,
.ux-select-checkbox label.option:after {
  top: 0.17857rem;
  left: 0;
  width: 0.5rem;
  height: 1.04167rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(40deg) scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 100% 100%;
  opacity: 0;
}

.ux-form-checkbox label:active .ux-ripple,
.ux-select-checkbox label:active .ux-ripple {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.ux-form-checkbox.active label.option:before,
.ux-select-checkbox.active label.option:before {
  border-color: #1c98c1;
  background: #1c98c1;
}

.ux-form-checkbox.active label.option:after,
.ux-select-checkbox.active label.option:after {
  opacity: 1;
  transform: rotate(40deg) scale(1);
}

.ux-form-checkbox.form-disabled label.option,
.ux-select-checkbox.form-disabled label.option {
  color: #b3b3b3;
}

.ux-form-checkbox.ready label.option:before, .ux-form-checkbox.ready label.option:after,
.ux-select-checkbox.ready label.option:before,
.ux-select-checkbox.ready label.option:after {
  transition: all 350ms ease;
}

.inline .ux-form-checkbox {
  display: inline-block;
  padding-right: 0.9375rem;
}

.ux-form-time .ux-form-input {
  margin: 0;
}

.ux-form fieldset:not(.fieldgroup) {
  display: block;
  position: relative;
  background-color: #f7f7f7;
  padding: 3.75rem 1.875rem 1.875rem;
}

.ux-form fieldset:not(.fieldgroup) > legend {
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.ux-form details {
  padding: 1.875rem;
}

.ux-form details > summary {
  padding: 0;
}

.ux-form details > .details-wrapper {
  padding: 0;
}

.ux-form-format .form-textarea-wrapper {
  padding-top: 0.625rem;
}

.ux-form-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  width: 100%;
  position: relative;
}

.ux-form-input > label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  text-transform: none;
  pointer-events: none;
}

.ux-form-input .ux-form-input-item,
.ux-form-input .field-prefix,
.ux-form-input .field-suffix {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #333333;
  overflow: hidden;
  box-sizing: border-box;
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#d9d9d9, #d9d9d9);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
}

.ux-form-input .ux-form-input-item:focus,
.ux-form-input .field-prefix:focus,
.ux-form-input .field-suffix:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
}

.ux-form-input .ux-form-input-item.simple,
.ux-form-input .field-prefix.simple,
.ux-form-input .field-suffix.simple {
  background-image: none !important;
}

.ux-form-input > .ux-form-input-item {
  -ms-flex: 1 1 10%;
      flex: 1 1 10%;
  width: auto;
}

.ux-form-input .field-input {
  -ms-flex: 1 1 10%;
      flex: 1 1 10%;
  width: auto;
}

.ux-form-input .field-input .ux-form-input-item {
  -ms-flex: auto;
      flex: auto;
  width: 100%;
}

.ux-form-input .field-prefix,
.ux-form-input .field-suffix {
  width: auto;
  text-align: center;
  color: transparent;
}

.ux-form-input .field-prefix {
  padding-right: 0.3125rem;
}

.ux-form-input .field-suffix {
  padding-right: 0.3125rem;
}

.ux-form-input .description,
.ux-form-input .counter {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.ux-form-input .form-textarea-wrapper {
  width: 100%;
}

.ux-form-input textarea.ux-form-input-item {
  height: auto;
  min-height: 2.5rem;
}

.ux-form-input:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 0.6875rem;
  line-height: 2.5rem;
  color: #b3b3b3;
  text-transform: uppercase;
  transition: all 350ms ease-out;
  transform: translateY(-1.5rem);
}

.ux-form-input:hover > label {
  color: #757575;
}

.ux-form-input.active > label, .ux-form-input.force-active > label {
  font-size: 0.75rem;
  transform: translateY(-1.5rem);
}

.ux-form-input.active .field-prefix,
.ux-form-input.active .field-suffix, .ux-form-input.force-active .field-prefix,
.ux-form-input.force-active .field-suffix {
  color: gray;
}

.ux-form-input.focus > label {
  color: #1c98c1;
}

.ux-form-input.focus .ux-form-input-item,
.ux-form-input.focus .field-prefix,
.ux-form-input.focus .field-suffix {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#d9d9d9, #d9d9d9);
  background-size: 100% 2px, 100% 1px;
}

.ux-form-input.valid .ux-form-input-item,
.ux-form-input.valid .field-prefix,
.ux-form-input.valid .field-suffix, .ux-form-input.valid.focus .ux-form-input-item,
.ux-form-input.valid.focus .field-prefix,
.ux-form-input.valid.focus .field-suffix {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#86c13d, #86c13d);
}

.ux-form-input.invalid .ux-form-input-item,
.ux-form-input.invalid .field-prefix,
.ux-form-input.invalid .field-suffix, .ux-form-input.invalid.focus .ux-form-input-item,
.ux-form-input.invalid.focus .field-prefix,
.ux-form-input.invalid.focus .field-suffix {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#e54040, #e54040);
}

.ux-form-input.invalid:after, .ux-form-input.invalid.focus:after {
  content: attr(data-error);
  color: #e54040;
  opacity: 1;
}

.ux-form-input.form-disabled > label {
  color: #b3b3b3;
}

.ux-form-input.form-disabled .ux-form-input-item {
  background-color: transparent;
  color: #b3b3b3;
}

.ux-form-input.ready > label {
  transition: all 350ms ease-out;
}

.ux-form-input.ready .ux-form-input-item,
.ux-form-input.ready .field-prefix,
.ux-form-input.ready .field-suffix {
  transition: all 350ms ease-out;
}

.ux-form ::-webkit-input-placeholder {
  color: #999999;
  font-style: italic;
  font-weight: 200;
}

.ux-form ::-moz-placeholder {
  color: #999999;
  font-style: italic;
  font-weight: 200;
}

.ux-form :-ms-input-placeholder {
  color: #999999;
  font-style: italic;
  font-weight: 200;
}

.ux-form ::placeholder {
  color: #999999;
  font-style: italic;
  font-weight: 200;
}

.ux-form-radios.fieldgroup {
  display: block;
}

.ux-form-radios .ux-form-radio {
  margin: 0;
}

.ux-form-radio .form-radio {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-radio label.option {
  display: inline-block;
  position: relative;
  height: 1.5625rem;
  line-height: 1.5625rem;
  padding: 0 0 0 1.5625rem;
  margin: 0;
  cursor: pointer;
  font-size: 0.8125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333333;
}

.ux-form-radio label.option:before, .ux-form-radio label.option:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15625rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 0;
  border-radius: 50%;
  border: 2px solid #bfbfbf;
  box-sizing: border-box;
  background-color: transparent;
}

.ux-form-radio label.option:after {
  border: #bfbfbf;
  background-color: #1c98c1;
  transform: scale(0);
}

.ux-form-radio .ux-ripple {
  position: absolute;
  top: -0.46875rem;
  left: -0.625rem;
  width: 2.5rem;
  height: 2.5rem;
}

.ux-form-radio label:active .ux-ripple {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.ux-form-radio.active label.option:before {
  border-color: #1c98c1;
}

.ux-form-radio.active label.option:after {
  transform: scale(0.6);
}

.ux-form-radio.form-disabled label.option {
  color: #b3b3b3;
}

.ux-form-radio.ready label.option:before, .ux-form-radio.ready label.option:after {
  transition: all 350ms ease;
}

.inline .ux-form-radio {
  display: inline-block;
  padding-right: 0.9375rem;
}

.ux-form-select select {
  display: none;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #d9d9d9;
}

.ux-form-select select:focus {
  border-bottom-color: #1c98c1;
}

.ux-form-select.invalid select {
  display: block;
}

.ux-form-select .ux-form-select-wrapper {
  position: relative;
}

.ux-form-select .ux-form-select-caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  color: #b3b3b3;
}

.ux-form-select .ux-form-select-caret.disabled {
  color: #b3b3b3;
}

.ux-form-select .ux-form-select-hidden {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-select .ux-form-select-dropdown {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  min-width: 100px;
  max-height: 650px;
  background-color: #f7f7f7;
  margin: 0;
  display: none;
  overflow-y: auto;
  opacity: 0;
  z-index: 999;
  will-change: width, height;
  list-style-type: none;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ux-form-select .ux-form-select-dropdown li {
  display: block;
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 0.875rem;
  text-transform: none;
  color: #b3b3b3;
  transition: all 350ms;
}

.ux-form-select .ux-form-select-dropdown li > span {
  display: block;
  padding: 0 0.9375rem;
}

.ux-form-select .ux-form-select-dropdown li > span > label {
  font-size: 0.875rem;
}

.ux-form-select .ux-form-select-dropdown .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  vertical-align: middle;
  text-align: center;
  color: #b3b3b3;
  cursor: pointer;
  background-color: #f7f7f7;
}

.ux-form-select .ux-form-select-dropdown .close:hover {
  color: #1c98c1;
}

.ux-form-select .ux-form-select-dropdown .search input {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.ux-form-select .ux-form-select-dropdown .optgroup {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.ux-form-select .ux-form-select-dropdown .optgroup > span {
  cursor: default;
  line-height: 2.5rem;
  min-height: 2.5rem;
}

.ux-form-select .ux-form-select-dropdown .selector {
  color: #1c98c1;
}

.ux-form-select .ux-form-select-dropdown .selector > span {
  cursor: pointer;
  line-height: 2.5rem;
  min-height: 2.5rem;
}

.ux-form-select .ux-form-select-dropdown .selector > span > label {
  color: #1c98c1;
}

.ux-form-select .ux-form-select-dropdown .selector:hover {
  background: rgba(0, 0, 0, 0.05);
}

.ux-form-select .ux-form-select-dropdown.is-single .selected {
  color: #fff;
  background: #1c98c1;
}

.ux-form-select .ux-form-select-dropdown.is-single .selected:hover {
  background: #1986ab;
}

.ux-form-select.active .ux-form-select-dropdown {
  display: block;
  opacity: 0;
  transform: translate(0, 20%);
  transition: opacity 300ms, transform 300ms;
}

.ux-form-select.animate .ux-form-select-dropdown {
  opacity: 1;
  transform: translate(0, 0);
}

/*# sourceMappingURL=ux-form.css.map */
