.ux-form {
  font-size: 1rem;
}

.ux-form .form-item {
  padding: 0;
  margin: 0;
}

.ux-form .ux-form-element {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.ux-form .ux-form-element label,
.ux-form .ux-form-element .fieldgroup .fieldset-legend {
  display: block;
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.ux-form .ux-form-element .description {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

.ux-form .ux-form-widget .ux-form-element {
  margin-top: 0;
  margin-bottom: 0;
}

.ux-form .ux-form-element-float {
  margin-top: 2.875rem;
  margin-bottom: 1.25rem;
}

.ux-form .ux-form-element-inner {
  position: relative;
}

.ux-form .field-error {
  display: block;
  position: absolute;
  top: 4.1875rem;
  left: 0;
  padding: 0.125rem 0.625rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  z-index: 10;
}

.ux-form .ux-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.ux-form .ux-ripple:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1.5, 1.5);
  opacity: 0;
  overflow: hidden;
  transition: transform 0.5s, opacity 1s;
}

.ux-form .ux-ripple:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(0, 0);
  opacity: 0;
  overflow: hidden;
  transition: transform 0.5s, opacity 1s;
}

.ux-form :-ms-input-placeholder {
  font-style: italic;
  font-weight: 500;
  opacity: 1 !important;
}

.ux-form ::placeholder {
  font-style: italic;
  font-weight: 500;
  opacity: 1 !important;
}

.ux-form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  width: 100%;
}

.ux-form-inline input {
  width: 100%;
}

.ux-form-inline > div {
  -ms-flex: auto !important;
      flex: auto !important;
  width: 100%;
}

.ux-form-inline > div .ux-form-input-item {
  width: 100%;
}

.ux-form-checkbox {
  position: relative;
}

.ux-form-checkbox .form-checkbox {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-checkbox .ux-ripple {
  position: absolute;
  top: -0.525rem;
  left: -0.7rem;
  width: 2.8rem;
  height: 2.8rem;
}

.ux-form-checkbox label.option {
  display: inline-block;
  position: relative;
  height: 1.75rem;
  line-height: 1.75rem;
  padding: 0 0 0 1.7125rem;
  margin: 0;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
}

.ux-form-checkbox label.option:before, .ux-form-checkbox label.option:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.175rem;
  width: 1.4rem;
  height: 1.4rem;
  z-index: 2;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.ux-form-checkbox label.option:before {
  border-radius: 2px;
}

.ux-form-checkbox label.option:after {
  top: 0.2rem;
  left: 0;
  width: 0.56rem;
  height: 1.16667rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(40deg) scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 100% 100%;
  opacity: 0;
}

.ux-form-checkbox label:active .ux-ripple:before {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.ux-form-checkbox:after {
  display: block;
  content: '';
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  text-rendering: optimizeLegibility;
}

.ux-form-checkbox.ready label.option:before, .ux-form-checkbox.ready label.option:after {
  transition: all 350ms ease;
}

.ux-form-checkbox.focused label .ux-ripple:after {
  opacity: 0.15;
  transform: scale(0.75, 0.75);
  transition: 0s;
}

.ux-form-checkbox.focused label .ux-ripple:after {
  border-radius: 3px;
}

.ux-form-checkbox.active label.option:after {
  opacity: 1;
  transform: rotate(40deg) scale(1);
}

.ux-form-checkbox.invalid:after, .ux-form-checkbox.invalid.focus:after {
  content: attr(data-error);
  opacity: 1;
  padding: 0.125rem 0.625rem;
}

.ux-form-checkbox.form-disabled label {
  opacity: 0.5;
  cursor: not-allowed;
}

.ux-form-checkbox.form-disabled .ux-ripple {
  display: none;
}

.ux-form-checkboxes-inline .ux-form-checkbox {
  display: inline-block;
  padding-right: 0.625rem;
}

.ux-form-date .ux-form-input-item {
  cursor: text;
}

.ux-form-time .ux-form-element {
  margin: 0;
}

.ux-form-time .ux-form-input-item {
  cursor: text;
}

.ux-form-datetime-inline .ux-form-date,
.ux-form-datetime-inline .ux-form-time {
  display: inline-block;
  padding-right: 0.625rem;
}

.ux-form-element .entity-meta {
  border: 1px solid red;
}

.ux-form-element .entity-meta .ux-form-element {
  margin: 0;
}

.ux-form-element .entity-meta details {
  background: transparent;
}

.ux-form-element .entity-meta details summary {
  padding: 0;
  text-shadow: 0;
}

.ux-form-element .entity-meta details .details-wrapper {
  padding: 1.25rem 0 0;
}

.ux-form-element .entity-meta details:first-child {
  border: 0;
}

.ux-form-element .entity-meta details:open {
  background-image: none !important;
}

.field--type-address .country-code,
.field--type-address3 .country-code {
  margin-bottom: 2.5rem;
}

.field--type-address .ux-form-element-name-address-line1,
.field--type-address3 .ux-form-element-name-address-line1 {
  margin-bottom: 0;
}

.field--type-address .ux-form-element-name-address-line2,
.field--type-address3 .ux-form-element-name-address-line2 {
  margin: 0;
}

.field--type-address .ux-form-element-name-address-line3,
.field--type-address3 .ux-form-element-name-address-line3 {
  margin: 0;
}

.field--type-address .postal-code:after,
.field--type-address3 .postal-code:after {
  display: none;
}

.field--type-address .address-container-inline,
.field--type-address3 .address-container-inline {
  display: -ms-flexbox;
  display: flex;
}

.field--type-address .address-container-inline > .ux-form-element,
.field--type-address3 .address-container-inline > .ux-form-element {
  margin: 0;
  padding: 0 0.625rem;
}

.field--type-address .address-container-inline > .ux-form-element:first-child,
.field--type-address3 .address-container-inline > .ux-form-element:first-child {
  padding-left: 0;
}

.field--type-address .address-container-inline > .ux-form-element:last-child,
.field--type-address3 .address-container-inline > .ux-form-element:last-child {
  padding-right: 0;
}

.field--type-address .address-container-inline .ux-form-element-name-locality,
.field--type-address3 .address-container-inline .ux-form-element-name-locality {
  -ms-flex: auto;
      flex: auto;
}

.ux-form-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: end;
      align-items: flex-end;
}

.ux-form-input > label,
.ux-form-input > .description,
.ux-form-input > .field-error,
.ux-form-input .ux-form-input-line, .ux-form-input:after {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.ux-form-input > .ux-form-input-item,
.ux-form-input > .field-input,
.ux-form-input > .counter {
  -ms-flex: 1 1 10%;
      flex: 1 1 10%;
  width: auto;
}

.ux-form-input .ux-form-input-line {
  display: block;
  height: 2px;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
}

.ux-form-input .ux-form-input-item,
.ux-form-input .field-prefix,
.ux-form-input .field-suffix {
  display: block;
  box-shadow: none;
  outline: none;
  border: 0;
  margin: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  padding: 0 0;
  box-sizing: border-box;
  overflow: hidden;
}

.ux-form-input .ux-form-input-item:focus, .ux-form-input .ux-form-input-item.form-textarea:focus,
.ux-form-input .field-prefix:focus,
.ux-form-input .field-prefix.form-textarea:focus,
.ux-form-input .field-suffix:focus,
.ux-form-input .field-suffix.form-textarea:focus {
  outline: 0;
  box-shadow: none;
}

.ux-form-input.has-prefix .ux-form-input-item {
  border-left: 0 !important;
  padding-left: 0 !important;
}

.ux-form-input.has-suffix .ux-form-input-item {
  border-right: 0 !important;
  padding-right: 0 !important;
}

.ux-form-input .field-prefix {
  padding-right: 0.3125rem !important;
  border-right: 0 !important;
}

.ux-form-input .field-suffix {
  padding-left: 0.3125rem !important;
  border-left: 0 !important;
}

.ux-form-input textarea.ux-form-input-item {
  height: auto;
  min-height: 2.5rem;
}

.ux-form-input .form-textarea-wrapper {
  width: 100%;
}

.ux-form-input:after {
  display: block;
  content: '';
  opacity: 0;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  z-index: 10;
  text-rendering: optimizeLegibility;
}

.ux-form-input.ready > label,
.ux-form-input.ready > .field-prefix,
.ux-form-input.ready > .field-suffix,
.ux-form-input.ready .ux-form-input-line, .ux-form-input.ready:after {
  transition: all 350ms ease-out;
}

.ux-form-input.focus .ux-form-input-line {
  background-size: 100% 2px, 100% 1px;
}

.ux-form-input.invalid:after, .ux-form-input.invalid.focus:after {
  content: attr(data-error);
  opacity: 1;
  padding: 0.125rem 0.625rem;
}

.ux-form-input.form-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ux-form-element-float .ux-form-input > label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1.625rem);
  line-height: 2.5rem;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 0;
  pointer-events: none;
  transform: translateY(0);
}

.ux-form-element-float .ux-form-input:after {
  top: 2.5625rem;
}

.ux-form-element-float .ux-form-input.active > label, .ux-form-element-float .ux-form-input.force-active > label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1.625rem);
}

.password-strength .password-strength__title {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  text-transform: uppercase;
}

.password-strength .password-strength__text {
  font-weight: 700;
}

.ux-form-radio {
  position: relative;
}

.ux-form-radio .form-radio {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-radio .ux-ripple {
  position: absolute;
  top: -0.5625rem;
  left: -0.71875rem;
  width: 2.875rem;
  height: 2.875rem;
}

.ux-form-radio label.option {
  display: inline-block;
  position: relative;
  height: 1.75rem;
  line-height: 1.75rem;
  padding: 0 0 0 1.75rem;
  margin: 0;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: normal;
}

.ux-form-radio label.option:before, .ux-form-radio label.option:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.15625rem;
  width: 1.4375rem;
  height: 1.4375rem;
  z-index: 2;
  border-radius: 50%;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: transparent;
}

.ux-form-radio label.option:after {
  transform: scale(0);
  border: 0;
}

.ux-form-radio label:active .ux-ripple:before {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.ux-form-radio:after {
  display: block;
  content: '';
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  text-rendering: optimizeLegibility;
}

.ux-form-radio.ready label.option:before, .ux-form-radio.ready label.option:after {
  transition: all 350ms ease;
}

.ux-form-radio.focused label .ux-ripple:after {
  opacity: 0.15;
  transform: scale(0.75, 0.75);
  transition: 0s;
}

.ux-form-radio.active label.option:after {
  transform: scale(0.55);
}

.ux-form-radio.invalid:after, .ux-form-radio.invalid.focus:after {
  content: attr(data-error);
  opacity: 1;
  padding: 0.125rem 0.625rem;
}

.ux-form-radio.form-disabled label {
  opacity: 0.5;
  cursor: not-allowed;
}

.ux-form-radio.form-disabled .ux-ripple {
  display: none;
}

.ux-form-radios-inline .ux-form-radio {
  display: inline-block;
  padding-right: 0.625rem;
}

.ux-form-select {
  position: relative;
}

.ux-form-select select {
  display: none;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid transparent;
}

.ux-form-select select.browser-default {
  display: block;
}

.ux-form-select.invalid select {
  display: block;
}

.ux-form-select .ux-form-input-item {
  cursor: default;
}

.ux-form-select .ajax-progress {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 0 10px 0 20px;
  border-radius: 3px;
  height: 2.5rem;
  line-height: 2.5rem;
}

.ux-form-select .ajax-progress .throbber {
  padding: 0 16px 0 0;
}

.ux-form-select .ux-form-select-wrapper {
  position: relative;
}

.ux-form-select .ux-form-select-wrapper:hover .ux-form-select-caret {
  opacity: 1;
}

.ux-form-select .ux-form-select-caret {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  height: 10px;
  margin: auto 0;
  font-size: 10px;
  line-height: 10px;
  pointer-events: none;
  opacity: 0.7;
  transition: opacity 300ms;
}

.ux-form-select .ux-form-select-hidden {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.ux-form-select .ux-form-select-scroll {
  display: relative;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 100px;
  max-height: 25rem;
  will-change: width, height;
}

.ux-form-select .ux-form-select-scroll li {
  display: block;
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 0.875rem;
  text-transform: none;
}

.ux-form-select .ux-form-select-scroll li > span {
  display: block;
  padding: 0 0.625rem;
}

.ux-form-select .ux-form-select-scroll li > span > label {
  font-size: 0.875rem;
}

.ux-form-select .ux-form-select-dropdown {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.ux-form-select .ux-form-select-dropdown .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.ux-form-select .ux-form-select-dropdown .search input {
  cursor: text;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
  border: 0;
}

.ux-form-select .ux-form-select-dropdown .optgroup {
  font-size: 0.75rem;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.ux-form-select .ux-form-select-dropdown .optgroup > span {
  cursor: default;
  line-height: 2.5rem;
  min-height: 2.5rem;
}

.ux-form-select .ux-form-select-dropdown .selector.selected {
  overflow: hidden;
}

.ux-form-select .ux-form-select-dropdown .selector > span {
  cursor: pointer;
  line-height: 2.5rem;
  min-height: 2.5rem;
}

.ux-form-select .ux-form-select-dropdown .selector.hide {
  max-height: 0;
  transition-duration: 0;
}

.ux-form-select:after {
  display: block;
  content: '';
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  text-rendering: optimizeLegibility;
}

.ux-form-select.active .ux-form-select-dropdown {
  display: block;
  opacity: 0;
  transform: translate(0, 20%);
  transition: opacity 300ms, transform 300ms;
}

.ux-form-select.animate .ux-form-select-dropdown {
  opacity: 1;
  transform: translate(0, 0);
}

.ux-form-select.form-disabled .ux-form-select-wrapper {
  opacity: 0.5;
  cursor: not-allowed;
}

.ux-form-select.form-disabled .ux-form-select-wrapper * {
  pointer-events: none;
}

.ux-form .field-add-more-submit {
  margin-top: 1.25rem;
}

.ux-form .tabledrag-toggle-weight-wrapper {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 0.625rem;
}

.ux-form .tabledrag-toggle-weight-wrapper button {
  text-transform: uppercase;
}

.ux-form .draggable .tabledrag-handle {
  height: 1.875rem;
  float: none;
  margin: 0;
  display: block;
}

.ux-form .draggable .tabledrag-handle .handle {
  margin: 0;
  padding: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-position: center center;
}

.ux-form-element-type-text-format .ux-form-element {
  margin: 0;
}

.ux-form-element-type-text-format .ux-filter-wrapper {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.ux-form-wrapper > .ux-form-element-inner {
  padding: 1.25rem;
}

.ux-form-wrapper .details-wrapper {
  padding: 0;
}

.ux-form-wrapper summary,
.ux-form-wrapper fieldset:not(.fieldgroup) .fieldset-legend {
  display: block;
  font-size: 1.125rem;
  line-height: 1.125rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.ux-form-wrapper .ux-form-element-wrapper-description {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0.3125rem 0 0;
}

.ux-form-element-type-details details {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
}

.ux-form-element-type-fieldset fieldset:not(.fieldgroup) {
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
}

.ux-form-element-type-fieldset fieldset:not(.fieldgroup) > legend {
  position: relative;
  top: 0;
}

.ux-form-element-type-fieldset legend {
  margin: 0;
}

.ux-form-element-type-fieldset .no-legend > legend {
  display: none;
}

.ux-form-element-type-fieldset .fieldset-wrapper > .description {
  margin: 0;
  padding: 0;
}

.ux-form-element-type-fieldset .field-group-fieldset:not(.fieldgroup).no-legend {
  margin-top: -1.25rem;
}

.ux-form-element .field--type-double-field .double-field-elements {
  display: -ms-flexbox;
  display: flex;
}

.ux-form-element .field--type-double-field .double-field-elements > div {
  width: 50%;
  padding-top: 0.625rem;
}

.ux-form-element .field--type-fieldception .field-multiple-table {
  margin-top: 1.25rem;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr td {
  padding-top: 0.625rem;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr .ux-form-inline label {
  display: none;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr .ux-form-inline .description {
  display: none;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr:first-child td {
  padding-top: 0;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr:first-child .ux-form-inline label {
  display: block;
}

/*# sourceMappingURL=ux-form.css.map */
