.ux-asides {
  display: none;
  position: relative;
  z-index: 1000;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
  }
}

.uxAside-isOpen {

  .ux-asides {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.uxAside {
  position: relative;
  width: 100%;
  height: auto;
  transition: margin-top 0.3s ease, height 0.3s ease, max-width 0.3s ease;

  &.isTall {
    height: 100% !important; /* stylelint-disable-line declaration-no-important */
  }

  &.isFullscreen {
    height: 100% !important; /* stylelint-disable-line declaration-no-important */
  }

  &.isAttachedTop {

    .uxAside-button-wrapper {
      top: 100%;
      bottom: auto;
    }
  }

  .uxAside-wrap {
    width: calc(100% + 50px);

    .uxAside-content {
      width: calc(100% - 50px);
    }
  }

  .uxAside-header {

    .uxAside-header-icon {
      line-height: 40px;
    }

    &.uxAside-noTitle {
      height: 26px;
      padding: 0;

      .uxAside-header-icon {
        font-size: 16px;
        line-height: 16px;
        padding: 4px 0 0 10px;
      }

      .uxAside-header-subtitle {
        line-height: 26px;
        padding-left: 6px;
      }

      .uxAside-header-buttons {
        right: 6px;
        margin: -11px 0 0;

        a {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  &.uxAside-no-transition {

    .uxAside-header,
    .uxAside-header > *,
    .uxAside-iframe,
    .uxAside-wrap {
      animation: none !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}
