////////////////////////////////////////////////////////////////////////////////
/// Globals
////////////////////////////////////////////////////////////////////////////////
$global-margin: rem-calc(20);
$global-padding: rem-calc(20);
$global-font-size: rem-calc(16);
$global-speed: 350ms;
