@import '../../../dev/scss/util/*.scss'; // sass-lint:disable-line clean-import-paths
@import '../../../dev/scss/base/variables';
@import '../../../dev/scss/base/color';

// .ux-media-view {

//   body,
//   .ux-content {
//     background: $black;
//   }
// }

.block-system-main-block {
  padding: $global-padding;
}

.ux-media-browser {

  .view-filters {

    .form--inline {
      display: flex;
    }
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;

    > .views-row {
      flex: 0 1 50%;
      position: relative;
      background: gray(88);
      padding: 5px;
      margin: 1px;
    }

    img {
      vertical-align: bottom;
      width: 100%;
      height: auto;
    }
  }

  .views-field-entity-browser-select {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .ux-media-info {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: shadow(50);
    color: $white;
    padding: 5px 10px;
  }
}

/** 600px > */
@media screen and (min-width: 37.5em) {

  .ux-media-browser .view-content > .views-row {
    flex-basis: 25%;
    background: gray(88);
  }
}
