@import '../../../dev/scss/util/*.scss'; // sass-lint:disable-line clean-import-paths
@import '../../../dev/scss/base/variables';
@import '../../../dev/scss/base/color';

$curve: cubic-bezier(0.65, 0, 0.45, 1);
$aside-padding: 20px;

/**
 * Body
 */
.ux-media-view {

  form {
    padding: $aside-padding;

  }
}

/**
 * View
 */
.ux-media-browser {

  .view-filters {

    .form--inline {
      display: flex;
      align-items: flex-end;
    }
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;

    img {
      vertical-align: bottom;
      width: 100%;
      height: auto;
    }
  }

  .views-row {
    flex: 0 1 auto;
    position: relative;
    background: gray(10);
    padding: 4px;
    margin: 1px;
    transition: background $global-speed;
    cursor: pointer;

    &:hover {
      background: gray(40);
    }

    .ux-media-check {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }

    &.checked {
      background: $success-color;

      .ux-media-checkmark {
        opacity: 1;
        animation: fillIn 0.4s ease-in-out 0.4s forwards, scaleIn 0.6s ease-in-out 0.4s both;
      }

      .ux-media-checkmark--circle {
        // animation-direction: normal;
        animation: stroke 0.4s $curve forwards;
      }

      .ux-media-checkmark--check {
        // animation-direction: normal;
        animation: stroke 0.4s $curve forwards;
      }
    }

    &.unchecked {

      .ux-media-checkmark {
        opacity: 1;
        animation: fillOut 0.4s ease-in-out forwards, scaleOut 0.3s ease-in-out both;
      }
    }
  }

  .views-row .views-field-entity-browser-select {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  .ux-media-info {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: shadow(50);
    color: $white;
    padding: 5px 10px;
  }
}

/** 600px > */
@media screen and (min-width: 37.5em) {

  .ux-media-browser .view-content > .views-row {
    // flex-basis: 25%;
    width: calc(20% - 10px);
  }
}

/**
 * Checkmark
 */

.ux-media-checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  margin: 0 auto;
  opacity: 0;
}

.ux-media-checkmark--circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $success-color;
  fill: none;
}

.ux-media-checkmark--check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scaleOut {
  0%, 100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fillIn {
  0% {
    opacity: 0;
    box-shadow: inset 0 0 0 0 $success-color;
  }

  20% {
    opacity: 1;
  }

  100% {
    box-shadow: inset 0 0 0 30px $success-color, 0 0 30px $black;
  }
}

@keyframes fillOut {
  0% {
    opacity: 1;
    box-shadow: inset 0 0 0 30px $success-color;
  }

  100% {
    opacity: 0;
    box-shadow: inset 0 0 0 0 $success-color;
  }
}
