$black: #262626;
$black-3: rgba($black, 0.3);

/**
 * UX Dialog styling.
 */
.ux-dialog {

  .has-ux-dialog & {
    opacity: 0;
    transition: transform 400ms, opacity 400ms;
  }

  .ux-dialog-active & {
    transform: scale3d(1.15, 1.15, 1);
  }

  .ux-dialog-animate & {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
