
.ux-form-element .field--type-address,
.ux-form-element .field--type-address3 {

  details > div {

    &:last-child {
      margin-top: $global-margin;
    }
  }

  .country-code {
    margin-bottom: $global-margin * 2;
  }

  .ux-form-element-name-address-line1 {
    margin-bottom: 0;
  }

  .ux-form-element-name-address-line2 {
    margin: 0;
  }

  .ux-form-element-name-address-line3 {
    margin: 0;
  }

  .postal-code {

    &:after {
      display: none;
    }
  }

  .address-container-inline {
    display: flex;

    > .ux-form-element {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 25%;
      margin: 0;
      padding: 0 $global-padding / 2;

      &:first-child {
        flex-basis: 50%;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        width: 20%;
      }
    }
  }
}
