
.ux-form-element .field--type-fieldception {

  .field-multiple-table {

    tbody {

      tr {

        td {
          border-top: 1px solid red; /* stylelint-disable-line color-named */
          padding-top: $global-padding;
          padding-bottom: $global-padding;
        }

        .fieldception-multiple {
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;

          .ux-form-container-ux-form-inline {
            width: 100%;
          }
        }

        // Only hide labels for fields without grouping.
        .fieldception-groups-0 {

          .ux-form-inline {

            label {
              display: none;
            }

            .description {
              display: none;
            }
          }
        }

        &:first-child {

          td {
            padding-top: 0;
            border-top: 0 !important; /* stylelint-disable-line declaration-no-important */
          }

          .fieldception-group {

            // The first row and the first group in that row.
            &:first-child {
              border-top: 0;
              margin-top: $global-margin * 0.5;
              padding-top: 0;
            }
          }

          .fieldception-groups-0 {

            .ux-form-inline {

              label {
                display: block;
              }
            }
          }
        }

        &:last-child {

          td {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .ux-form-element-type-actions {
    width: 100%;

    .close {
      width: 100%;
      padding: 4px;
      font-size: rem-calc(12);
      text-transform: uppercase;
    }
  }
}
