{#
/**
 * @file
 * Default theme implementation to display a UX menu.
 *
 * @ingroup themeable
 */
#}
<div{{attributes}}>
  {% if header %}
    <div class="uxMenu-header">
      {{ header }}
    </div>
  {% endif %}
  {{ menu }}
  {% if footer %}
    <div class="uxMenu-footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
