html {
  font-size: 92%;
}

.ux-form label,
.ux-form .fieldgroup .fieldset-legend {
  color: #1a1a1a;
}

.ux-form .description {
  color: gray;
}

.ux-form .field-error {
  background: #e54040;
  color: white;
}

.ux-form label.form-required:after,
.ux-form .required label:after,
.ux-form .required .fieldset-legend:after {
  color: #e54040;
}

.ux-form .ux-ripple:before {
  background: black;
}

.ux-form .ux-ripple:after {
  background: #1c98c1;
}

.ux-form :-ms-input-placeholder {
  color: #666666;
}

.ux-form ::placeholder {
  color: #666666;
}

.ux-form-wrapper > .ux-form-element-inner {
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.ux-form-wrapper .ux-form-wrapper > .ux-form-element-inner {
  background: white;
}

.ux-form-wrapper summary,
.ux-form-wrapper fieldset:not(.fieldgroup) .fieldset-legend {
  color: #1a1a1a;
}

.ux-form-wrapper .ux-form-element-wrapper-description {
  color: #1a1a1a;
}

.ux-form-input .ux-form-input-line {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#cccccc, #cccccc);
}

.ux-form-input .ux-form-input-item, .ux-form-input .ux-form-input-item:focus, .ux-form-input .ux-form-input-item.picker__input,
.ux-form-input .field-prefix,
.ux-form-input .field-prefix:focus,
.ux-form-input .field-prefix.picker__input,
.ux-form-input .field-suffix,
.ux-form-input .field-suffix:focus,
.ux-form-input .field-suffix.picker__input {
  color: #1a1a1a;
  background-color: #f2f2f2;
  padding: 0 0.9375rem;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: none;
  border-left: 1px solid #e0e0e0;
}

.ux-form-input .field-prefix,
.ux-form-input .field-suffix {
  color: gray;
}

.ux-form-input:after {
  background: #4d4d4d;
  color: white;
}

.ux-form-input.focus > label {
  color: #1c98c1;
}

.ux-form-input.focus .ux-form-input-line {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#cccccc, #cccccc);
}

.ux-form-input.valid .ux-form-input-line, .ux-form-input.valid.focus .ux-form-input-line {
  background-image: linear-gradient(#1c98c1, #1c98c1), linear-gradient(#86c13d, #86c13d);
}

.ux-form-input.invalid > label, .ux-form-input.invalid.focus > label {
  color: #e54040;
}

.ux-form-input.invalid .ux-form-input-line, .ux-form-input.invalid.focus .ux-form-input-line {
  background-image: linear-gradient(#e54040, #e54040), linear-gradient(#e54040, #e54040);
}

.ux-form-input.invalid:after, .ux-form-input.invalid.focus:after {
  background-color: #e54040;
}

.ux-form-element-float .ux-form-input > label {
  padding: 0 0.9375rem;
}

.ux-form-element-float .ux-form-input > .field-prefix,
.ux-form-element-float .ux-form-input > .field-suffix {
  color: transparent;
}

.ux-form-element-float .ux-form-input.active > label, .ux-form-element-float .ux-form-input.force-active > label {
  padding: 0;
}

.ux-form-element-float .ux-form-input.active > .field-prefix,
.ux-form-element-float .ux-form-input.active > .field-suffix, .ux-form-element-float .ux-form-input.force-active > .field-prefix,
.ux-form-element-float .ux-form-input.force-active > .field-suffix {
  color: gray;
}

.ux-form-checkbox label.option:before {
  background: #f2f2f2;
  border-color: #b3b3b3;
}

.error .ux-form-checkbox label.option:before {
  border-color: #e54040;
}

.ux-form-checkbox label.option:after {
  border-right-color: white;
  border-bottom-color: white;
}

.ux-form-checkbox:after {
  background: #4d4d4d;
  color: white;
}

.ux-form-checkbox.active label.option:before {
  border-color: #1c98c1;
  background: #1c98c1;
}

.ux-form-checkbox.invalid:after, .ux-form-checkbox.invalid.focus:after {
  background: #e54040;
}

.ux-form-radio label.option:before, .ux-form-radio label.option:after {
  border-color: #b3b3b3;
}

.ux-form-radio label.option:after {
  background-color: #1c98c1;
}

.ux-form-radio label.option:before {
  background: #f2f2f2;
}

.error .ux-form-radio label.option:before {
  border-color: #e54040;
}

.ux-form-radio:after {
  background: #4d4d4d;
  color: white;
}

.ux-form-radio.active label.option:before {
  border-color: #1c98c1;
}

.ux-form-select select {
  background-color: transparent;
  border-bottom: 1px solid #cccccc;
}

.ux-form-select select:focus {
  border-bottom-color: #1c98c1;
}

.ux-form-select .ux-form-select-caret {
  color: #b3b3b3;
}

.ux-form-select .ajax-progress {
  background: white;
}

.ux-form-select .ux-form-select-dropdown {
  background-color: white;
}

.ux-form-select .ux-form-select-dropdown .close {
  color: #b3b3b3;
  background-color: white;
  box-shadow: 0px -2px 6px -3px rgba(0, 0, 0, 0.2);
}

.ux-form-select .ux-form-select-dropdown .close:hover {
  color: #1a1a1a;
}

.ux-form-select .ux-form-select-dropdown .optgroup {
  color: #b3b3b3;
}

.ux-form-select .ux-form-select-dropdown .selector {
  color: #1a1a1a;
}

.ux-form-select .ux-form-select-dropdown .selector > span > label {
  color: #1a1a1a;
}

.ux-form-select .ux-form-select-dropdown .selector:hover {
  background: rgba(0, 0, 0, 0.02);
}

.ux-form-select .ux-form-select-dropdown.is-single .selected {
  color: white;
  background: #1c98c1;
}

.ux-form-select .ux-form-select-dropdown.is-single .selected:hover {
  background: #1986ab;
}

.ux-form-select .ux-form-select-scroll {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.password-strength .is-weak {
  background-color: #c1ba3d;
}

.password-strength .is-fair {
  background-color: #b2c13d;
}

.password-strength .is-good {
  background-color: #9cc13d;
}

.password-strength .is-strong {
  background-color: #86c13d;
}

.ux-form-element .field--type-fieldception .field-multiple-table tbody tr td {
  border-top: 1px dotted #cccccc;
}

.ux-form-element .noUi-connect {
  background: #1c98c1;
}

/*# sourceMappingURL=ux-form.blue.css.map */
