{#
/**
 * @file
 * Default theme implementation of a container used to wrap child elements.
 *
 * @see template_preprocess_ux_form_element_container()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="ux-form-element-inner">
    {{ children }}
  </div>
</div>
