.ux-offcanvas-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ux-offcanvas-menu-top {

  a {
    line-height: rem-calc(24);
  }
}

.ux-offcanvas-menu-content {
  flex: auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
}

.ux-offcanvas-menu {

  // @for $i from 1 to 10 {

  //   &[data-depth='#{$i}'] > ul {
  //     transform: translate3d(100%, 0, 0);
  //     // transform: translate3d($offcanvas-size * -1, 0, 0);
  //     // transform:
  //   }
  // }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    ul {
      display: none;
      left: 100%;
    }

    .active-trail > ul {
      display: block;
    }
  }

  a {
    display: block;
  }
}

.ux-offcanvas-menu-trail {

  a {
    display: inline-block;

    &.trail-type-breadcrumb {

      &::after {
        content: ':';
        display: inline-block;
      }

      &:last-child {
        pointer-events: none;

        &::after {
          display: none;
        }
      }
    }
  }
}
