.ux-offcanvas-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ux-offcanvas-menu-top {

  a {
    line-height: rem-calc(24);
  }
}

.ux-offcanvas-menu-content {
  flex: auto;
  position: relative;
  overflow: hidden;

  .current {

    > [data-level] {
      overflow: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
    }
  }
}

.ux-offcanvas-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  [data-level] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    [data-level] {
      display: none;
      // visibility: hidden;
      left: 100%;
      // border:1px solid red;
    }

    .active-trail {

      > [data-level] {
        display: block;
        // visibility: visible;
      }
    }
  }

  a {
    display: block;
  }
}

.ux-offcanvas-menu-trail {

  a {
    display: inline-block;
  }

  &.trail-type-breadcrumb {

    a {
      &::after {
        content: ':';
        display: inline-block;
      }

      &:last-child {
        pointer-events: none;

        &::after {
          display: none;
        }
      }
    }
  }
}
