
.ux-form-checkbox {
  position: relative;

  // Hide input.
  .form-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .ux-ripple {
    position: absolute;
    top: (($checkbox-element-size / 2) * -1) + ($checkbox-size - $checkbox-element-size) / 2;
    left: ($checkbox-element-size / 2) * -1;
    width: $checkbox-element-size * 2;
    height: $checkbox-element-size * 2;
  }

  label {

    &.option {
      display: inline-block;
      position: relative;
      height: $checkbox-size;
      line-height: $checkbox-size;
      padding: 0 0 0 $checkbox-element-size + rem-calc(5);
      margin: 0;
      cursor: pointer;
      font-size: $checkbox-font-size;
      user-select: none;
      font-weight: normal;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: ($checkbox-size - $checkbox-element-size) / 2;
        width: $checkbox-element-size;
        height: $checkbox-element-size;
        z-index: 2;
        border: 2px solid $checkbox-border-color;
        box-sizing: border-box;
      }

      &:before {
        border-radius: 2px;

        .error & {
          border-color: $error-color;
        }
      }

      &:after {
        top: $checkbox-element-size / 7;
        left: 0;
        width: $checkbox-element-size / 2.5;
        height: $checkbox-element-size / 1.2;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $checkbox-check-color;
        border-bottom: 2px solid $checkbox-check-color;
        transform: rotate(40deg) scale(0);
        backface-visibility: hidden;
        transform-origin: 100% 100%;
        opacity: 0;
      }
    }

    &:active {

      .ux-ripple {
        @include ux-ripple-active();
      }
    }
  }

  /**
   * Message area.
   */
  &:after {
    display: block;
    content: '';
    font-size: $message-font-size;
    line-height: $label-font-size;
    background: $message-bg-color;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    color: $white;
    text-rendering: optimizeLegibility;
  }

  /**
   * When ready.
   */
  &.ready {

    label {

      &.option {

        &:before,
        &:after {
          transition: all $global-speed ease;
        }
      }
    }
  }

  /**
   * When focus.
   */
  &.focused {

    label {

      .ux-ripple {
        @include ux-ripple-focus();

        &:after {
          border-radius: 3px;
        }
      }
    }
  }

  /**
   * When active.
   */
  &.active {

    label {

      &.option {

        &:before {
          border-color: $checkbox-active-color;
          background: $checkbox-active-color;
        }

        &:after {
          opacity: 1;
          transform: rotate(40deg) scale(1);
        }
      }
    }
  }

  /**
   * When invalid.
   */
  &.invalid,
  &.invalid.focus {

    &:after {
      content: attr(data-error);
      background: $error-color;
      opacity: 1;
      padding: rem-calc(2 10);
    }
  }

  /**
   * When disabled.
   */
  &.form-disabled {

    label {

      &.option {
        color: $disabled-color;
        cursor: not-allowed;

        &:before,
        &:after {
          opacity: 0.5;
        }
      }
    }

    .ux-ripple {
      display: none;
    }
  }
}

.ux-form-checkboxes-inline {

  .ux-form-checkbox {
    display: inline-block;
    padding-right: $global-padding / 2;
  }
}
