
.ux-form-checkboxes {

  &.fieldgroup {
    display: block;

    > legend {

      > .fieldset-legend {
        @include label;
        // @include label-active;
      }
    }

    > .fieldset-wrapper {
      margin: 0;
    }
  }

  .ux-form-checkbox {
    margin: 0;
  }
}

.ux-form-checkbox,
.ux-select-checkbox {

  // Hide input.
  .form-checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .ux-ripple {
    position: absolute;
    top: (($checkbox-element-size / 2) * -1) + ($checkbox-size - $checkbox-element-size) / 2;
    left: ($checkbox-element-size / 2) * -1;
    width: $checkbox-element-size * 2;
    height: $checkbox-element-size * 2;
  }

  label {

    &.option {
      display: inline-block;
      position: relative;
      height: $checkbox-size;
      line-height: $checkbox-size;
      padding: 0 0 0 $checkbox-size;
      margin: 0;
      cursor: pointer;
      font-size: $checkbox-font-size;
      user-select: none;
      color: $checkbox-color;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: ($checkbox-size - $checkbox-element-size) / 2;
        width: $checkbox-element-size;
        height: $checkbox-element-size;
        z-index: 0;
        border: 2px solid $checkbox-border-color;
        box-sizing: border-box;
        background-color: transparent;
      }

      &:before {
        border-radius: 2px;

        .error & {
          border-color: $error-color;
        }
      }

      &:after {
        top: $checkbox-element-size / 7;
        left: 0;
        width: $checkbox-element-size / 2.5;
        height: $checkbox-element-size / 1.2;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        transform: rotate(40deg) scale(0);
        backface-visibility: hidden;
        transform-origin: 100% 100%;
        opacity: 0;
      }
    }

    &:active {

      .ux-ripple {
        @include ux-ripple-active();
      }
    }
  }

  &.active {

    label {

      &.option {

        &:before {
          border-color: $checkbox-active-color;
          background: $checkbox-active-color;
        }

        &:after {
          opacity: 1;
          transform: rotate(40deg) scale(1);
        }
      }
    }
  }

  &.form-disabled {

    label {

      &.option {
        color: $checkbox-disabled-color;
      }
    }

    .ux-ripple {
      display: none;
    }
  }

  &.ready {

    label {

      &.option {

        &:before,
        &:after {
          transition: all $form-item-speed ease;
        }
      }
    }
  }
}

.inline {

  .ux-form-checkbox {
    display: inline-block;
    padding-right: $form-padding / 2;
  }
}
