
.ux-form-date {

  .ux-form-input-item {
    cursor: text;
  }
}

.ux-form-time {

  .ux-form-element {
    margin: 0;
  }

  .ux-form-input-item {
    cursor: text;
  }
}

.ux-form-datetime-inline {

  .ux-form-date,
  .ux-form-time {
    display: inline-block;
    padding-right: $global-padding * 0.5;
  }
}

.picker {

  select.picker__select--year,
  select.picker__select--month {
    font-size: inherit;
    line-height: inherit;
    appearance: menulist;
    margin: 0 2px;
    padding: 0;
  }
}
