/* stylelint-disable selector-pseudo-class-no-unknown */
.ux-form-element {

  .entity-meta {
    border: 1px solid red; /* stylelint-disable-line color-named */

    .ux-form-element {
      margin: 0;
    }

    details {
      // border: 0;
      background: transparent;

      summary {
        padding: 0;
        text-shadow: 0;
      }

      .details-wrapper {
        padding: $global-padding 0 0;
      }

      &:first-child {
        border: 0;
      }

      &:open {
        background-image: none !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}
