
.ux-form {

  fieldset {

    &:not(.fieldgroup) {
      position: relative;
      background-color: $fieldset-bg-color;
      padding: $form-padding * 2 0 0;

      > legend {
        position: absolute;
        top: $form-padding;
        left: $form-padding;
        font-weight: 700;
      }

      > .description {
        margin: 0 $form-padding;
        font-size: $fieldset-description-size;
      }

      fieldset {

        &:not(.fieldgroup) {
          background: $fieldset-bg-inset-color;
        }
      }
    }
  }

  .fieldset-wrapper {
    margin: 0 $form-padding $form-padding;

    > * {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  details {
    padding: $form-padding;

    > summary {
      padding: 0;
      font-weight: 700;
    }

    > .details-wrapper {
      padding: 0;
    }

    > * {

      &:last-child {
        margin-bottom: 0;

        > * {

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
