////////////////////////////////////////////////////////////////////////////////
/// Selectors
////////////////////////////////////////////////////////////////////////////////

.ux-form-input {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  position: relative;

  > label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: $input-font-size;
    line-height: $input-height;
    text-transform: none;
    pointer-events: none;
  }

  .ux-form-input-item,
  .field-prefix,
  .field-suffix {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    height: $input-height;
    line-height: $input-height;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: $input-font-size;
    color: $input-color;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient($input-focus-color, $input-focus-color), linear-gradient($input-border-color, $input-border-color);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);

    &:focus {
      border: 0;
      outline: 0;
      box-shadow: none;
      background-color: transparent;
    }

    ////// SIMPLE
    /// Used if field should not change colors.
    &.simple {
      background-image: none !important;
    }
  }

  > .ux-form-input-item {
    flex: 1 1 10%;
    width: auto;
  }

  .field-input {
    flex: 1 1 10%;
    width: auto;

    .ux-form-input-item {
      flex: auto;
      width: 100%;
    }
  }

  .field-prefix,
  .field-suffix {
    width: auto;
    text-align: center;
    color: transparent;
  }

  .field-prefix {
    padding-right: rem-calc(5);
  }

  .field-suffix {
    padding-right: rem-calc(5);
  }

  .description,
  .counter {
    flex-basis: 100%;
  }

  .form-textarea-wrapper {
    width: 100%;
  }

  textarea {

    &.ux-form-input-item {
      height: auto;
      min-height: $input-height;
    }
  }

  ////// MESSAGE AREA
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: $form-item-description-size;
    line-height: $input-height;
    color: $form-item-description-color;
    text-transform: uppercase;
    transition: all $form-item-speed ease-out;
    transform: translateY($form-item-margin-size * -0.8);
  }

  ////// HOVER
  &:hover {

    > label {
      color: $label-hover-color;
    }
  }

  ////// ACTIVE
  &.active,
  &.force-active {

    > label {
      font-size: $label-font-size;
      transform: translateY($form-item-margin-size * -0.8);
    }

    .field-prefix,
    .field-suffix {
      color: $input-prefix-suffix-color;
    }
  }

  ////// FOCUS
  &.focus {

    > label {
      color: $input-focus-color;
    }

    .ux-form-input-item,
    .field-prefix,
    .field-suffix {
      background-image: linear-gradient($input-focus-color, $input-focus-color), linear-gradient($input-border-color, $input-border-color);
      background-size: 100% 2px, 100% 1px;
    }
  }

  ////// VALID
  &.valid,
  &.valid.focus {

    .ux-form-input-item,
    .field-prefix,
    .field-suffix {
      background-image: linear-gradient($input-focus-color, $input-focus-color), linear-gradient($input-success-color, $input-success-color);
    }
  }

  ////// INVALID
  &.invalid,
  &.invalid.focus {

    .ux-form-input-item,
    .field-prefix,
    .field-suffix {
      background-image: linear-gradient($input-focus-color, $input-focus-color), linear-gradient($input-error-color, $input-error-color);
    }

    &:after {
      content: attr(data-error);
      color: $input-error-color;
      opacity: 1;
    }
  }

  ////// DISABLED
  &.form-disabled {

    > label {
      color: $input-disabled-color;
    }

    .ux-form-input-item {
      background-color: transparent;
      color: $input-disabled-color;
    }
  }

  ////// READY
  &.ready {

    > label {
      transition: all $form-item-speed ease-out;
    }

    .ux-form-input-item,
    .field-prefix,
    .field-suffix {
      transition: all $form-item-speed ease-out;
    }
  }
}

.ux-form {

  ::-webkit-input-placeholder {
    color: $input-placeholder-color;
    font-style: italic;
    font-weight: 200;
  }

  :-moz-placeholder {
    color: $input-placeholder-color;
    font-style: italic;
    font-weight: 200;
  }

  ::-moz-placeholder {
    color: $input-placeholder-color;
    font-style: italic;
    font-weight: 200;
  }

  :-ms-input-placeholder {
    color: $input-placeholder-color;
    font-style: italic;
    font-weight: 200;
  }

  ::placeholder {
    color: $input-placeholder-color;
    font-style: italic;
    font-weight: 200;
  }
}
