.ux-form {

  ::-webkit-input-placeholder {
    color: $placeholder-text-color;
    font-style: italic;
    font-weight: 200;
  }

  :-moz-placeholder {
    color: $placeholder-text-color;
    font-style: italic;
    font-weight: 200;
  }

  ::-moz-placeholder {
    color: $placeholder-text-color;
    font-style: italic;
    font-weight: 200;
  }

  :-ms-input-placeholder {
    color: $placeholder-text-color;
    font-style: italic;
    font-weight: 200;
  }

  ::placeholder {
    color: $placeholder-text-color;
    font-style: italic;
    font-weight: 200;
  }

  .ux-form-input {
    display: flex;
    flex-flow: row wrap;
    position: relative;

    // We use immediate child label in order to not affect elements with
    // nested labels like UxFormSelect elements.
    > label {
      display: block;
      position: absolute;
      top: 1rem;
      left: 0;
      font-size: $label-font-size;
      line-height: 1rem;
      text-transform: none;
      cursor: text;
      pointer-events: none;
    }

    input,
    textarea {
      background-color: transparent;
      border: 0;
      border-bottom: $input-border;
      border-radius: 0;
      outline: none;
      height: $input-height;
      width: 100%;
      font-size: $input-font-size;
      box-shadow: none;
      transition: $input-transition;
      box-sizing: border-box;
      overflow: hidden;
    }

    .description,
    .counter {
      flex-basis: 100%;
    }

    // .field-input is not a default element. input sits at the root of default
    // themes.
    .field-input,
    input {
      flex: 1 1 10%;
      width: auto;

      input {
        width: 100%;
      }
    }

    .field-prefix,
    .field-suffix {
      display: block;
      border: 0;
      border-bottom: $input-border;
      height: $input-height;
      line-height: $input-height - $input-padding-size;
      font-size: $input-font-size;
      font-weight: normal;
      margin: 0;
      padding: $input-padding;
      box-shadow: none;
      transition: $input-transition;
      box-sizing: border-box;
      color: transparent;
    }

    .field-prefix {
      padding-right: $input-padding-size / 2;
    }

    .field-suffix {
      padding-left: $input-padding-size / 2;
    }

    // When a field is in focus.
    &.focus {

      > label {
        color: $primary-color;
      }

      input,
      textarea,
      .field-prefix,
      .field-suffix {
        // margin-bottom: 0;
        // border-bottom-width: 2px;
        // border-bottom-color: $primary-color;
        border-bottom: 1px solid $primary-color;
        box-shadow: 0 1px 0 0 $primary-color;
      }

      .field-prefix,
      .field-suffix {
        color: $primary-color;
      }

      // .description {
      //   visibility: visible;
      //   opacity: 1;
      // }
    }

    // When a field has content.
    &.active,
    &.force-active {

      > label {
        color: lighten($label-color, 20%);
        font-size: $label-font-size - 0.1rem;
        transform: translateY(-140%);
      }

      .field-prefix,
      .field-suffix {
        color: $label-color;
      }
    }

    &.form-disabled {

      input,
      textarea {
        background: none;
        color: $input-disabled-color;
      }
    }

    &.valid,
    &.focus.valid {

      input,
      textarea,
      .field-prefix,
      .field-suffix {
        border-bottom-color: $input-success-color;
      }
    }

    &.focus.valid {

      input,
      textarea,
      .field-prefix,
      .field-suffix {
        box-shadow: 0 1px 0 0 $input-success-color;
      }
    }

    &.invalid,
    &.focus.invalid {

      input,
      textarea,
      .field-prefix,
      .field-suffix {
        border-bottom: $input-invalid-border;
        box-shadow: 0 1px 0 0 $input-error-color;
      }

      &:after {
        content: attr(data-error);
        color: $input-error-color;
        opacity: 1;
      }
    }

    &.focus.invalid {

      // input,
      // textarea,
      // .field-prefix,
      // .field-suffix {
      //   box-shadow: 0 1px 0 0 $input-error-color;
      // }

      > label {
        color: $input-error-color;
      }

      &:after {
        opacity: 0;
      }
    }

    &.ready {

      > label {
        transition: 200ms ease-out;
      }
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      top: -4px;
      right: 0;
      opacity: 0;
      font-size: $description-font-size - 0.1;
      line-height: $description-font-size - 0.1;
      color: $description-color;
      text-transform: uppercase;
      transition: 0.2s opacity ease-out, 0.2s color ease-out;
    }

  }

  .js-form-type-textarea {

    .form-textarea-wrapper {
      width: 100%;
    }

    textarea {
      height: auto;
      min-height: $input-height;
      overflow-y: hidden; /* prevents scroll bar flash */
      padding: 0.8rem 0 0; /* prevents text jump on Enter keypress */
      resize: none;
    }
  }
}
