.ux-form-input {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  width: 100%;
  // position: relative;

  // Flex break items so they are full-width.
  > label,
  > .description,
  > .field-error,
  .ux-form-input-line,
  &:after {
    flex-basis: 100%;
  }

  // Flex main area take up full width.
  > .ux-form-input-item,
  > .field-input,
  > .counter {
    flex: 1 1 10%;
    width: auto;
  }

  // The line placed beneath input fields.
  .ux-form-input-line {
    display: block;
    height: 2px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
  }

  .ux-form-input-item,
  .field-prefix,
  .field-suffix {
    display: block;
    box-shadow: none;
    outline: none;
    border: 0;
    margin: 0;
    height: $input-height;
    line-height: $input-height;
    font-size: $input-font-size;
    padding: $input-padding;
    box-sizing: border-box;
    overflow: hidden;

    &:focus,
    &.form-textarea:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &.has-prefix {

    .ux-form-input-item {
      border-left: 0 !important;
      padding-left: 0 !important;
    }
  }

  &.has-suffix {

    .ux-form-input-item {
      border-right: 0 !important;
      padding-right: 0 !important;
    }
  }

  .field-prefix {
    padding-right: rem-calc(5) !important;
    border-right: 0 !important;
  }

  .field-suffix {
    padding-left: rem-calc(5) !important;
    border-left: 0 !important;
  }

  textarea {

    &.ux-form-input-item {
      height: auto;
      min-height: $input-height;
    }
  }

  .form-textarea-wrapper {
    width: 100%;
  }

  // Message area.
  &:after {
    display: block;
    content: '';
    // position: absolute;
    // top: $label-height + $input-height + rem-calc(1);
    // left: 0;
    opacity: 0;
    font-size: $message-font-size;
    line-height: $label-font-size;
    text-transform: uppercase;
    z-index: 10;
    // transform: $label-transform;
    // white-space: nowrap;
    text-rendering: optimizeLegibility;
  }

  // When ready.
  &.ready {

    > label,
    > .field-prefix,
    > .field-suffix,
    .ux-form-input-line,
    &:after {
      transition: all $global-speed ease-out;
    }
  }

  // When focused.
  &.focus {

    .ux-form-input-line {
      background-size: 100% 2px, 100% 1px;
    }
  }

  // When invalid.
  &.invalid,
  &.invalid.focus {

    &:after {
      content: attr(data-error);
      opacity: 1;
      padding: rem-calc(2 10);
    }
  }

  // When disabled.
  &.form-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Input labels can be floated above their input fields.
.ux-form-element-float {

  .ux-form-input {

    > label {
      @include label-overlay;
    }

    // Message area.
    &:after {
      top: $input-height + rem-calc(1);
    }

    &.active,
    &.force-active {

      > label {
        @include label-float;
      }
    }
  }
}
