
.password-strength {

  .is-weak {
    background-color: adjust-hue($success-color, -30%);
  }

  .is-fair {
    background-color: adjust-hue($success-color, -20%);
  }

  .is-good {
    background-color: adjust-hue($success-color, -10%);
  }

  .is-strong {
    background-color: $success-color;
  }
}
