
.ux-form-radio {
  position: relative;

  // Hide input.
  .form-radio {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .ux-ripple {
    position: absolute;
    top: (($radio-element-size / 2) * -1) + ($radio-size - $radio-element-size) / 2;
    left: ($radio-element-size / 2) * -1;
    width: $radio-element-size * 2;
    height: $radio-element-size * 2;
  }

  label {

    &.option {
      display: inline-block;
      position: relative;
      height: $radio-size;
      line-height: $radio-size;
      padding: 0 0 0 $radio-element-size + rem-calc(5);
      margin: 0;
      cursor: pointer;
      font-size: $radio-font-size;
      user-select: none;
      font-weight: normal;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: ($radio-size - $radio-element-size) / 2;
        width: $radio-element-size;
        height: $radio-element-size;
        z-index: 2;
        border-radius: 50%;
        border: 2px solid $radio-border-color;
        box-sizing: border-box;
        background-color: transparent;
      }

      &:before {

        .error & {
          border-color: $error-color;
        }
      }

      &:after {
        border: $radio-border-color;
        background-color: $radio-active-color;
        transform: scale(0);
      }
    }

    &:active .ux-ripple {
      @include ux-ripple-active();
    }
  }

  /**
   * Message area.
   */
  &:after {
    display: block;
    content: '';
    font-size: $message-font-size;
    line-height: $label-font-size;
    background: $message-bg-color;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    color: $white;
    text-rendering: optimizeLegibility;
  }

  /**
   * When ready.
   */
  &.ready {

    label {

      &.option {

        &:before,
        &:after {
          transition: all $global-speed ease;
        }
      }
    }
  }

  /**
   * When focus.
   */
  &.focused {

    label {

      .ux-ripple {
        @include ux-ripple-focus();
      }
    }
  }

  /**
   * When active.
   */
  &.active {

    label {

      &.option {

        &:before {
          border-color: $radio-active-color;
        }

        &:after {
          transform: scale(0.55);
        }
      }
    }
  }

  /**
   * When invalid.
   */
  &.invalid,
  &.invalid.focus {

    &:after {
      content: attr(data-error);
      background: $error-color;
      opacity: 1;
      padding: rem-calc(2 10);
    }
  }

  /**
   * When disabled.
   */
  &.form-disabled {

    label {

      &.option {
        color: $disabled-color;
        cursor: not-allowed;

        &:before,
        &:after {
          opacity: 0.5;
        }
      }
    }

    .ux-ripple {
      display: none;
    }
  }
}

.ux-form-radios-inline {

  .ux-form-radio {
    display: inline-block;
    padding-right: $global-padding / 2;
  }
}
