
.ux-form-radios {

  &.fieldgroup {
    display: block;

    > legend {

      > .fieldset-legend {
        @include label;
        // @include label-active;
      }
    }

    > .fieldset-wrapper {
      margin: 0;
    }
  }

  .ux-form-radio {
    margin: 0;
  }
}

.ux-form-radio {

  // Hide input.
  .form-radio {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  label.option {
    display: inline-block;
    position: relative;
    height: $radio-size;
    line-height: $radio-size;
    padding: 0 0 0 $radio-size;
    margin: 0;
    cursor: pointer;
    font-size: $radio-font-size;
    user-select: none;
    color: $radio-color;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: ($radio-size - $radio-element-size) / 2;
      width: $radio-element-size;
      height: $radio-element-size;
      z-index: 2;
      border-radius: 50%;
      border: 2px solid $radio-border-color;
      box-sizing: border-box;
      background-color: transparent;
    }

    &:before {

      .error & {
        border-color: $error-color;
      }
    }

    &:after {
      border: $radio-border-color;
      background-color: $radio-active-color;
      transform: scale(0);
    }
  }

  .ux-ripple {
    position: absolute;
    top: (($radio-element-size / 2) * -1) + ($radio-size - $radio-element-size) / 2;
    left: ($radio-element-size / 2) * -1;
    width: $radio-element-size * 2;
    height: $radio-element-size * 2;
  }

  label:active .ux-ripple {
    @include ux-ripple-active();
  }

  &.active {

    label.option {

      &:before {
        // border: 2px solid transparent;
        border-color: $radio-active-color;
      }

      &:after {
        transform: scale(0.55);
      }
    }
  }

  &.focused {

    label {

      .ux-ripple {
        @include ux-ripple-focus();
      }
    }
  }

  &.form-disabled {

    label.option {
      color: $radio-disabled-color;
    }

    .ux-ripple {
      display: none;
    }
  }

  &.ready {

    label.option {

      &:before,
      &:after {
        transition: all $form-item-speed ease;
      }
    }
  }
}

.inline {

  .ux-form-radio {
    display: inline-block;
    padding-right: $form-padding / 2;
  }
}
