.ux-form-select {
  position: relative;

  select {
    display: none;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid transparent;

    &.browser-default{
      display: block;
    }
  }

  &.invalid {

    select {
      display: block;
    }
  }

  .ux-form-input-item {
    cursor: default;
  }

  .ajax-progress {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 0 10px 0 20px;
    border-radius: 3px;
    height: $input-height;
    line-height: $input-height;

    .throbber {
      padding: 0 16px 0 0;
    }
  }

  .ux-form-select-wrapper {
    position: relative;

    &:hover {

      .ux-form-select-caret {
        opacity: 1;
      }
    }
  }

  .ux-form-select-caret {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
    pointer-events: none;
    opacity: 0.7;
    transition: opacity 300ms;
  }

  .ux-form-select-hidden {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  .ux-form-select-scroll {
    display: relative;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 100px;
    max-height: $select-item-height * 10;
    will-change: width, height;

    li {
      display: block;
      clear: both;
      width: 100%;
      text-align: left;
      font-size: $select-font-size;
      text-transform: none;
      // transition: all $form-item-speed;

      > span {
        display: block;
        padding: 0 $global-padding / 2;

        > label {
          font-size: $select-font-size;
        }
      }
    }
  }

  .ux-form-select-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    display: none;
    opacity: 0;
    z-index: 999;
    margin: 0;
    padding: 0;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: $input-height;
      height: $input-height;
      font-size: $input-height * 0.7;
      line-height: $input-height * 0.85;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
    }

    .search {

      input {
        cursor: text;
        padding-left: $global-padding / 2;
        padding-right: $global-padding / 2;
        width: 100%;
        border: 0;
      }
    }

    .optgroup {
      font-size: $select-optgroup-font-size;
      text-transform: uppercase;
      border-top: 1px solid gray(10);

      > span {
        cursor: default;
        line-height: $select-optgroup-height;
        min-height: $select-optgroup-height;
      }
    }

    .selector {

      &.selected {
        overflow: hidden;
      }

      > span {
        cursor: pointer;
        line-height: $select-item-height;
        min-height: $select-item-height;
      }

      &.hide {
        max-height: 0;
        transition-duration: 0;
      }
    }
  }

  // Message area.
  &:after {
    display: block;
    content: '';
    font-size: $message-font-size;
    line-height: $label-font-size;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0;
    text-rendering: optimizeLegibility;
  }

  &.active {

    .ux-form-select-dropdown {
      display: block;
      opacity: 0;
      transform: translate(0, 20%);
      transition: opacity 300ms, transform 300ms;
    }
  }

  &.animate {

    .ux-form-select-dropdown {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  // When disabled.
  &.form-disabled {

    .ux-form-select-wrapper {
      opacity: 0.5;
      cursor: not-allowed;

      * {
        pointer-events: none;
      }
    }
  }
}
