
////////////////////////////////////////////////////////////////////////////////
/// Specific table elements
////////////////////////////////////////////////////////////////////////////////
.ux-form {

  .tabledrag-toggle-weight-wrapper {
    position: absolute;
    top: $global-padding;
    right: $global-padding;
    font-size: rem-calc(10);

    button {
      text-transform: uppercase;
    }
  }

  .draggable {

    .tabledrag-handle {
      height: rem-calc(30);
      float: none;
      margin: 0;
      display: block;

      .handle {
        margin: 0;
        padding: 0;
        width: rem-calc(30);
        height: rem-calc(30);
        background-position: center center;
      }
    }
  }

  .field-add-more-submit {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  table {

    .ux-form-element {
      margin: 0;
    }
  }
}
