.ux-form-element {
  position: relative;
  margin: $form-item-margin;
  padding: $form-item-padding;

  // Applies to checkboxes and radios.
  > legend {

    > .fieldset-legend {
      @include label-active();
    }
  }
}

/**
 * Checkboxes can be standalone and need the global margin applied to them.
 */
.ux-form-checkbox {
  margin: $form-item-margin;
  padding: $form-item-padding;
}

/**
 * Checkboxes which are apart of a checkbox set don't need the margin.
 */
.ux-form-checkboxes {

  .ux-form-checkbox {
    margin: 0;
    padding: 0;
  }
}

.ux-form {

  label {
    @include label;
  }

  .description {
    @include description;
  }

  .required label,
  label.form-required, // sass-lint:disable-line no-qualifying-elements
  .required .fieldset-legend,
  [required] .fieldset-legend {

    &:after {
      content: '*';
      color: $error-color;
      display: inline-block;
      padding-left: rem-calc(3);
      font-size: 13px;
    }
  }

  .field-error {
    color: $error-color;
    padding: 0 0 10px;
    font-weight: bold;
    font-size: $label-font-size;
  }
}

.ux-form-inline {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  div {
    display: block;
  }

  input {
    width: 100%;
  }

  > div {
    flex: auto !important;
    width: 50%;

    .ux-form-input-item {
      width: 100%;
    }
  }
}

// .ux-ripple {
//   @include ux-ripple;
// }
