
@mixin label() {
  display: block;
  font-size: $label-font-size;
  line-height: $label-font-size;
  text-transform: none;
  padding-bottom: 6px;
  font-weight: 700;
}

@mixin label-active() {
  @include label;
  position: absolute;
  top: 0;
  left: 0;
  transform: $label-transform;
  padding: 0;
}

@mixin description() {
  display: block;
  font-size: $label-font-size;
  line-height: $label-font-size;
  text-transform: none;
  // padding-bottom: 6px;
}

@mixin ux-ripple() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    border-radius: 50%;
    transform: scale(1.5, 1.5);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    border-radius: 50%;
    transform: scale(0, 0);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
    // transition: opacity 1s;
  }
}

@mixin ux-ripple-active() {

  &:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

@mixin ux-ripple-focus() {

  &:after {
    opacity: 0.1;
    // transition: 0s;
    transform: scale(1, 1);
  }
}
