$palette: (
  primary: #1c98c1,
  secondary: #777,
  success: #86c13d,
  error: #e54040,
);

$primary-color: map-get($palette, primary) !default;
$secondary-color: map-get($palette, secondary) !default;
$success-color: map-get($palette, success) !default;
$error-color: map-get($palette, error) !default;

@function gray($num) {
  @return lighten(#000, percentage((100 - $num) / 100));
}

@function shade($num) {
  @return rgba(0, 0, 0, $num / 100);
}

$white: #fff;
$black: gray(90);

////////////////////////////////////////////////////////////////////////////////
/// Globals
////////////////////////////////////////////////////////////////////////////////

$form-padding: rem-calc(30);
$form-margin: rem-calc(20);
$form-item-speed: 350ms;
$form-item-color: gray(80);
$form-item-disabled-color: gray(30);
$form-item-margin-size: $form-margin;
$form-item-margin: $form-item-margin-size 0 0;
$form-item-padding-size: 0;
$form-item-padding: $form-item-padding-size;
$form-item-description-size: rem-calc(12);
$form-item-description-color: gray(40);
$form-item-font-size: rem-calc(16);

////////////////////////////////////////////////////////////////////////////////
/// Labels
////////////////////////////////////////////////////////////////////////////////

$label-font-size: rem-calc(14);
$label-color: gray(60);
$label-hover-color: gray(54);
$label-transform: translateY($form-item-margin-size * -0.65);

////////////////////////////////////////////////////////////////////////////////
/// Inputs
////////////////////////////////////////////////////////////////////////////////

$input-height: rem-calc(40);
$input-font-size: $form-item-font-size;
$input-color: $form-item-color;
$input-prefix-suffix-color: gray(50);
$input-border-color: gray(15);
$input-focus-color: $primary-color;
$input-success-color: $success-color;
$input-error-color: $error-color;
$input-disabled-color: $form-item-disabled-color;
$input-placeholder-color: gray(70);
$input-bg-color: gray(15);
$input-bg-hover-color: gray(12);

////////////////////////////////////////////////////////////////////////////////
/// Fieldset
////////////////////////////////////////////////////////////////////////////////

$fieldset-bg-color: gray(3);
$fieldset-bg-inset-color: $white;
$fieldset-description-size: $form-item-font-size;

////////////////////////////////////////////////////////////////////////////////
/// Radios
////////////////////////////////////////////////////////////////////////////////
$radio-size: rem-calc(25);
$radio-element-size: $radio-size * 0.8;
$radio-font-size: rem-calc(13);
$radio-color: $form-item-color;
$radio-border-color: gray(25);
$radio-active-color: $primary-color;
$radio-disabled-color: $form-item-disabled-color;

////////////////////////////////////////////////////////////////////////////////
/// Checkbox
////////////////////////////////////////////////////////////////////////////////
$checkbox-size: rem-calc(25);
$checkbox-element-size: $radio-size * 0.8;
$checkbox-font-size: rem-calc(13);
$checkbox-color: $form-item-color;
$checkbox-border-color: gray(25);
$checkbox-focus-color: gray(15);
$checkbox-active-color: $primary-color;
$checkbox-disabled-color: $form-item-disabled-color;

////////////////////////////////////////////////////////////////////////////////
/// Select
////////////////////////////////////////////////////////////////////////////////
$select-bg-color: gray(3);
$select-font-size: rem-calc(14);
$select-item-height: $input-height;
$select-item-color: $primary-color;
$select-option-color: gray(30);
$select-option-font-size: rem-calc(12);
$select-option-height: $input-height;
$select-selected-bg: $primary-color;
$select-selected-color: $white;
$select-hover-color: shade(5);
$select-close-color: $select-option-color;
$select-close-hover-color: $primary-color;
$select-caret-color: gray(30);
