@charset 'UTF-8';

$white: #f0f0f0;
$transparent: rgba(0, 0, 0, 0);

.ux-offcanvas-active {
  overflow: hidden;
}

.ux-offcanvas {
  position: relative;
  z-index: 100;
  visibility: hidden;

  .ux-offcanvas-active & {
    visibility: visible;
  }
}

.ux-offcanvas-item {
  visibility: hidden;
  position: fixed;
  background: $white;
  transition: all 300ms;
  overflow: hidden;

  &.active {
    visibility: visible;
  }

  &.ux-offcanvas-left {
    transform: translate(-100%, 0);

    &.active {
      transform: translate(0, 0);
    }
  }

  &.ux-offcanvas-right {
    transform: translate(100%, 0);

    &.active {
      transform: translate(0, 0);
    }
  }

  &.ux-offcanvas-top {
    transform: translate(0, -100%);

    &.active {
      transform: translate(0, 0);
    }
  }

  &.ux-offcanvas-bottom {
    transform: translate(0, 100%);

    &.active {
      transform: translate(0, 0);
    }
  }

  .ux-offcanvas-item-inner {
    position: absolute;
    top: 0;
    right: -30px;
    bottom: 0;
    left: 0;
    padding-right: 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
  }

  .ux-offcanvas-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }
}

.ux-offcanvas-trigger {
  -webkit-tap-highlight-color: $transparent; // sass-lint:disable-line no-vendor-prefixes
}


